/* CLASS TO JS ANIMATE*/

.moveright {
  animation: moveright 0.7s 0.1s ease forwards;
}

.moveleft {
  animation: moveleft 0.9s 0.1s ease forwards;
}

.moveleftWelcome {
  animation: moveleftWelcome 0.7s 0.1s ease forwards;
}

.moverightWelcome {
  animation: moverightWelcome 0.9s 0.2s ease forwards;
}

/* .colorChange {
    animation: colorAbout 2s ease forwards;
  } */

/* CLASS FOR CHECKING WHICH SCREEN WE ARE ON */
.here {
}

/* CLASS FOR SCREENS WE ARE NOT ON */

.none {
  display: none;
}

.width0 {
  width: 0;
  height: 100vh;
  padding: 0;
  /* transition: all ease 1s; */
}


.extend-side {
  width: 33vw;
  height: 100vh;
  /* transition: all ease 1s; */
}

.extendMobileInfos {
  width: 100vw;
}

.extend {
  width: 100%;
}

.shorter {
  width: 67%;
}

.opacity {
  opacity: 0;
  /* transition: all ease 1s; */
}

.dotActive {
  transform: scale(1.3);
  opacity: 1;
}

/* ANIMATION PARAMETERS */

@keyframes moveright {
  from {
    background-color: rgb(154, 226, 214);
  }
  to {
    transform: translateX(100vw);
    background-color: #06443f;
  }
}

@keyframes moveleft {
  from {
    background-color: #06443f;
  }
  to {
    transform: translateX(-100vw);
    background-color: rgb(154, 226, 214);
  }
}

@keyframes moveleftWelcome {
  to {
    transform: translateX(-100vw);
    background-color: rgb(154, 226, 214);
  }
}

@keyframes moverightWelcome {
  to {
    transform: translateX(100vw);
    background: rgba(6, 68, 63, 1);
  }
}

.imgArriving {
  animation: ImgArriving 1.5s 0.5s ease forwards;
}

@keyframes ImgArriving {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(95px);
  }
}

.imgdisappear {
  animation: Imgdisappear 0.3s ease forwards;
}

@keyframes Imgdisappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-95px);
  }
}
