// import all partial placed inside /modules
@import "modules/variables";
@import "modules/gallery";
@import "modules/business";
@import "modules/classes";
@import "modules/range";
@import "modules/contact";

/* ============================================ */
/* =============== GENERAL ==================== */
/* ============================================ */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Nunito, sans-serif;
}

* {
  transition: 1s all ease;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: $verylightbeige;
  @include size(100vw, auto);
}

h1 {
  @include largetitle($coral);
  @include size(fit-content, fit-content);
}

h2 {
  @include title($font-normal, $line-small, $coral);
  @include size(fit-content, fit-content);
  @include for-tablet-portrait-up {
    @include title($font-large, $line-large, $coral);
  }
}

h3 {
  @include text($font-normal, $line-small, $coral);

  @include for-tablet-landscape-up {
    @include text($font-large, $line-large, $coral);
  }
}

h4 {
  @include text($font-small, $line-small, $coral);

  font-style: italic;
  @include for-tablet-landscape-up {
    @include text($font-normal, $line-normal, $coral);
  }
}

p {
  @include text($font-small, $line-small, $coral);
  @include size(fit-content, fit-content);
  @include for-tablet-portrait-up {
    @include text($font-normal, $line-normal, $coral);
  }
}

a {
  cursor: pointer;
  @include links($font-normal, $coral);
  @include size(fit-content, fit-content);
}

.button {
  @include centered(a);
  border-radius: $round-corner;
}

.logos {
  // tablet
  @include size(auto, 35%);
  place-self: center;
  // desktop
  @include for-tablet-landscape-up {
    @include size(auto, 60%);
  }
}

.menu-main--desk {
  display: none;
  @include for-tablet-portrait-up {
    display: grid;
  }
}

.desk-only {
  @include for-phone-only {
    display: none;
  }
  // @include for-tablet-portrait-up {
  //   display: block;
  // }
}

.phone-only {
  @include for-tablet-portrait-up {
    display: none;
  }
}

.none {
  display: none;
}

// padding body general

.launching__container,
.about-main__container {
  // mobile
  display: grid;
  grid-template-columns: 1fr;
  padding: 3vw 3vh;
  @include size(100%, 100vh);
  // desk
  @include for-tablet-portrait-up {
    padding: $padding-body-desk;
    @include size(100%, 90vh);
    grid-template-columns: 1fr 1fr;
  }
}

/* ============================================ */
/* =============== LAUNCHING ==================== */
/* ============================================ */

.launching {
  // mobile
  @include background-image("background-img/png-launch-illu.png", none);

  // desk
  @include for-tablet-portrait-up {
    margin: 10vh 0vw;
    grid-gap: 2%;
    background-image: none;
  }
  // mobile & desk
  &__img {
    @include size(100%, auto);
    max-width: 650px;
    grid-column: 1/2;
    place-self: center;
  }
  // desk
  &__title {
    @include for-tablet-portrait-up {
      width: 100%;
      max-width: 600px;
      max-height: 250px;
      padding-top: 2.6rem;
      padding-right: 10%;
      grid-column: 2/3;
      place-self: center;
      h1 {
        padding: 0;
      }
      img {
        @include size(100%, fit-content);
        max-width: 400px;
        max-height: 200px;
      }
    }
  }

  &__button-container {
    //mobile
    @include size(90%, 45px);
    position: fixed;
    bottom: 3vh;
    background-color: white;
    @include box-shadow($shadow-straight, $beige, 1);
    // desk
    @include for-tablet-portrait-up {
      @include size(300px, 50px);
      display: none;
    }
  }
}

/* ============================================ */
/* =============== MENU ==================== */
/* ============================================ */

$color-link: (
  eat: $coral,
  shop: $darkbeige,
  stay: $orange,
  travel: $green,
  discover: $coral,
  party: $darkbeige,
  chill: $brown,
  other: $orange
);

@each $name, $color in $color-link {
  .menu-main__link--#{$name} {
    background-blend-mode: multiply;
    background-color: rgba($color, 1);
    @include for-tablet-portrait-up {
      background-color: inherit;
    }
  }
}

.menu-main {
  // mobile
  &__container {
    @include size(100%, 100vh);
    position: fixed;
    top: 0vh;
    background-color: $orange;
    z-index: z(modal);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    //bg shadow
    @include background-image(
      "background-img/png-main-menu_shadows.png",
      white
    ); //doesnt work
    // desktop
    @include for-tablet-portrait-up {
      height: 10vh;
      background: none;
      background-color: $verylightbeige;
      @include box-shadow($ourshadow, $brown, 0.4);
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }
  &__logoLink {
    position: relative;
    width: 100%;
    height: 10vh;
    @include vertical-align(img);
    left: 25%;
  }
  &__logo {
    // mobile
    display: none;
    // desktop
    @include for-tablet-portrait-up {
      display: block;
    }
  }

  &__link {
    @include size(100%, 100%);
    @include centered(h1);

    text-decoration: none;
    h1 {
      font-size: $font-normal;
      color: $lightbeige;
      font-weight: 400;
      padding: 0;
      @include for-tablet-portrait-up {
        @include links($font-xs-small, $coral);
      }
      @include for-tablet-landscape-up {
        @include links($font-small, $coral);
      }
    }
    &--about {
      grid-column: 11/-1;
    }
  }
}

/* ============================================ */
/* =============== ABOUT ==================== */
/* ============================================ */

.about-main {
  display: none;
  @include for-tablet-portrait-up {
    display: block;
  }
  &__container {
    @include size(100%, auto);
  }
}

.about-sub__container {
  padding: 3vw 3vh;
  @include for-tablet-portrait-up {
    padding: 0 5vw;
    &--4 {
      padding: 0 10vw;
    }
  }
  &--4 {
    p {
      a {
        color: $verylightbeige;
        border-bottom: solid 2px $verylightbeige;
      }
    }
  }
}

.about-sub__business {
  background-color: $coral;
  p,
  h1,
  h2,
  h3 {
    color: $verylightbeige;
  }
  .about-sub__text {
    padding-bottom: 10vh;
  }
}

.about-sub__img {
  @include size(100%, auto);
  &--1 {
    transform: translate(-5vw) scaleX(-1);
    max-width: 650px;
  }
  &--2 {
    padding: 5%;
  }
}

// desktop
@include for-tablet-portrait-up {
  .about-sub {
    &__container {
      display: grid;
      grid-column-gap: 7%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.5fr auto;
      grid-column: 1/-1;
      h2 {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      p:nth-of-type(1) {
        grid-column: 1/2;
      }
      p:nth-of-type(2) {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }
  }
}

///////////THANK YOU SCREEN //////////////////////////

.thank--you--screen {
  background-color: $lightbeige;
  position: relative;
  width: 100vw;
  height: 100vh;

  h1 {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}

//////// BURGUER ABOUT ////////////////

.burguer__about--mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  height: auto;
  img {
    width: 90%;
    padding: 10%;
  }
}
