/* COLORS */
/* STYLE ELEMENTS */
/* -------------GENERAL STYLE SHEET----------------- */
/* FONT SIZE */
/* FONT WEIGHT */
/* LINE HEIGHT */
/* EFFECT TRANSITIONS */
/* ------------- MIXINS STYLE----------------- */
/* -------------- MIXINS FUNCTIONS ------------------- */
/* -------------- MIXINS RESPONSIVENESS ------------------- */
/* COLORS */
/* STYLE ELEMENTS */
/* -------------GENERAL STYLE SHEET----------------- */
/* FONT SIZE */
/* FONT WEIGHT */
/* LINE HEIGHT */
/* EFFECT TRANSITIONS */
/* ------------- MIXINS STYLE----------------- */
/* -------------- MIXINS FUNCTIONS ------------------- */
/* -------------- MIXINS RESPONSIVENESS ------------------- */
.opacity {
  opacity: 0; }

.none {
  display: none; }

/* ============================================ */
/* =============== GALLERY ==================== */
/* ============================================ */
.gallery {
  width: 100vw;
  height: 100vh;
  background-color: none;
  display: grid;
  grid-template-rows: repeat(auto-fill, 170px); }
  @media (min-width: 600px) {
    .gallery {
      width: 80vw;
      height: 100vh;
      margin: 23vh 5vw; } }
  @media (min-width: 600px) {
    .gallery {
      grid-template-rows: repeat(auto-fill, 300px);
      grid-row-gap: 6%; } }
  .gallery a {
    width: 100%;
    height: 100%;
    grid-column: 1/-1; }
  .gallery__item {
    width: 100%;
    height: 170px;
    display: grid;
    grid-template-columns: 50% 50%; }
    @media (min-width: 600px) {
      .gallery__item {
        grid-template-columns: 33% 66%;
        width: 100%;
        height: 300px;
        box-shadow: 0px -2px 23px 1px rgba(208, 173, 142, 0.4);
        border-radius: 25px; } }
    .gallery__item__img {
      width: auto;
      height: 100%;
      background-size: auto 300px;
      background-position: right;
      background-repeat: no-repeat; }
      @media (min-width: 600px) {
        .gallery__item__img {
          border-radius: 25px 0 0 25px; } }
    .gallery__item__infos {
      width: 100%;
      height: 100%;
      background-color: none;
      padding: 1.2rem;
      text-align: center;
      display: grid;
      grid-template-rows: 1fr 2fr 1.5fr;
      border-radius: 0 50px 50px 0; }
      @media (min-width: 600px) {
        .gallery__item__infos {
          padding: 5.3rem 3.3rem 3.3rem;
          text-align: start;
          grid-template-rows: 1fr 1fr 2fr;
          grid-template-columns: 2fr 1fr;
          grid-gap: 2.1rem;
          grid-column-gap: 3.3rem; } }
      .gallery__item__infos--up {
        grid-row: 1/2; }
        @media (min-width: 600px) {
          .gallery__item__infos--up {
            grid-column: 2/-1; } }
      .gallery__item__infos--text {
        grid-row: 2/3;
        place-self: center; }
        @media (min-width: 600px) {
          .gallery__item__infos--text {
            grid-column: 1/2;
            grid-row: 1/-1;
            width: 100%;
            height: 100%;
            justify-self: start; } }
      .gallery__item__infos--bottom {
        grid-row: 3/4;
        display: grid;
        grid-template-columns: repeat(auto-fill, 33%); }
        @media (min-width: 600px) {
          .gallery__item__infos--bottom {
            grid-column: 2/-1;
            grid-row: 3/4; } }

/* ============================================ */
/* =============== STYLE TEXT ================= */
/* ============================================ */
.gallery__item__infos--text h3 {
  color: #e2685b;
  padding-top: 0; }
  @media (max-width: 599px) {
    .gallery__item__infos--text h3 {
      padding: 0;
      font-size: 1.6rem;
      line-height: inherit; } }

.gallery__item__infos--text h4 {
  color: #e2685b;
  padding-top: 0; }
  @media (max-width: 599px) {
    .gallery__item__infos--text h4 {
      padding: 0;
      font-size: 1.4rem;
      line-height: inherit; } }

.gallery__item__infos--text p {
  max-width: 450px;
  color: #6b927a;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  padding-bottom: 2.6rem;
  padding-bottom: 0;
  color: #e2685b; }

.gallery__item__infos--up p {
  padding-bottom: 0; }

/* ============================================ */
/* ================ BADGES ==================== */
/* ============================================ */
.badge__container {
  width: 100%;
  height: 100%; }

/* ============================================ */
/* =============== BOTTOM MENU ================ */
/* ============================================ */
.menu-bottom {
  width: 100vw;
  height: 7vh;
  background-color: #f7f2eb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  padding: 0 3vw;
  z-index: 45;
  box-shadow: 0px -2px 13px 1px rgba(208, 173, 142, 0.2); }
  @media (min-width: 600px) {
    .menu-bottom {
      display: none; } }
  .menu-bottom__link {
    width: 100%;
    height: 100%; }
    .menu-bottom__link--map {
      text-align: center; }
    .menu-bottom__link--burger {
      text-align: right; }
    .menu-bottom__link__img {
      width: 25%;
      height: 100%;
      position: relative; }
      .menu-bottom__link__img img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
      .menu-bottom__link__img img {
        width: 100%;
        height: auto; }

.menu-bottom__modal {
  width: 100vw;
  height: 7vh;
  position: fixed;
  bottom: 0;
  background-color: #f7f2eb; }
  @media (min-width: 600px) {
    .menu-bottom__modal {
      width: 0vh;
      height: 0vw; } }

.map__container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  position: relative; }
  @media (min-width: 600px) {
    .map__container {
      display: none; } }
  .map__container .map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .map__container .map {
    width: 100%;
    height: 85%; }

/* ============================================ */
/* ================ FILTER ==================== */
/* ============================================ */
.filter__container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f7f2eb;
  box-shadow: 0px -2px 13px 1px rgba(208, 173, 142, 0.3);
  position: absolute;
  top: -60px;
  right: calc(50vw - 50px);
  clip-path: polygon(-30px -30px, 160px -30px, 160px 61px, 0 61px);
  display: grid; }
  @media (min-width: 600px) {
    .filter__container {
      top: 0vh;
      right: 0vw;
      box-shadow: none; } }
  .filter__container img {
    width: 36px;
    height: auto;
    margin: auto;
    margin-top: calc(45% - 18px); }

.filter__modal {
  position: absolute;
  top: 0vh;
  padding: 1.6rem;
  z-index: 5;
  width: 100vw;
  height: 0vh;
  background-color: #f7f2eb;
  box-shadow: 0px -2px 13px 1px rgba(208, 173, 142, 0.3); }
  .filter__modal h2 {
    color: #ccb7a8;
    padding-top: 1.6rem;
    padding-bottom: 0.8rem;
    transition: 0.3s opacity ease; }

.filter__liste {
  width: auto;
  height: 60%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  background-color: none; }
  @media (min-width: 600px) {
    .filter__liste {
      display: none; } }

/* ============================================ */
/* ============== BURGER MENU ================= */
/* ============================================ */
.burger-menu {
  width: 0vw;
  height: 100vh;
  background-color: #e2685b;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0vw;
  z-index: 5; }
  .burger-menu--link {
    color: #f9ecd7;
    display: block;
    font-size: 1.6rem;
    padding-bottom: 1.6rem;
    opacity: 0; }
    .burger-menu--link__close {
      width: 100px;
      text-align: right;
      padding: 1.6rem;
      margin-left: calc(100% - 100px); }
    .burger-menu--link__container {
      width: 100%;
      padding: 3.3rem;
      height: fit-content; }

@media (min-width: 600px) {
  .filter__modal {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f7f2eb;
    position: fixed;
    top: 60vh;
    right: 5vw; } }

.morphing {
  animation: morphing 1s 0s ease-in-out forwards;
  transition: all ease; }

.morphingClose {
  animation: morphingClose 1s 0s ease-in-out forwards;
  transition: all ease; }

@keyframes morphing {
  0% {
    width: 100px;
    height: 100px;
    border-radius: 50%; }
  70% {
    width: 500px;
    height: 200px;
    border-radius: 5px; }
  93% {
    width: 495px;
    height: 195px;
    border-radius: 5px; }
  100% {
    width: 500px;
    height: 200px;
    border-radius: 5px; } }

@keyframes morphingClose {
  0% {
    width: 500px;
    height: 200px;
    border-radius: 5px; }
  100% {
    width: 100px;
    height: 100px;
    border-radius: 50%; } }

/* COLORS */
/* STYLE ELEMENTS */
/* -------------GENERAL STYLE SHEET----------------- */
/* FONT SIZE */
/* FONT WEIGHT */
/* LINE HEIGHT */
/* EFFECT TRANSITIONS */
/* ------------- MIXINS STYLE----------------- */
/* -------------- MIXINS FUNCTIONS ------------------- */
/* -------------- MIXINS RESPONSIVENESS ------------------- */
.opacity {
  opacity: 0; }

.none {
  display: none; }

.button__rate,
.button__other-rate {
  position: relative;
  position: absolute; }
  .button__rate a,
  .button__other-rate a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .button__rate a,
  .button__other-rate a {
    width: fit-content;
    height: fit-content;
    text-align: center; }

.button__other-rate {
  right: 7%;
  z-index: 50; }

.rate__header {
  width: 100vw;
  height: 20vh; }
  .rate__header--title {
    width: 90%;
    height: 100%; }

@media (min-width: 600px) {
  .business {
    margin-top: 20vh; } }

.business__template {
  width: 100vw;
  height: auto;
  min-height: 100vh; }
  @media (min-width: 600px) {
    .business__template {
      width: 100%;
      height: auto; } }

.business__template--header {
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-rows: 1fr auto; }
  @media (min-width: 600px) {
    .business__template--header {
      width: 35%;
      height: auto;
      position: fixed; } }
  .business__template--header__img {
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: center;
    background-position: no-repeat;
    clip-path: url(#myClip);
    grid-column: 1/-1;
    grid-row: 1/2; }
    @media (min-width: 600px) {
      .business__template--header__img {
        width: 100%;
        height: auto;
        min-height: 250px; } }
  .business__template--header__text {
    width: 100%;
    height: auto;
    max-height: 200px;
    padding: 5vh 3vw 2vh 3vw;
    grid-column: 1/-1;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr; }
    @media (min-width: 600px) {
      .business__template--header__text {
        padding: 1.6rem; } }

.business__title {
  grid-column: 1/2;
  font-size: 1.8rem;
  padding: 0;
  align-self: end; }

.business__subtitle {
  grid-column: 1/2;
  font-size: 1.8rem;
  color: #d0ad8e;
  padding: 0;
  align-self: end; }

.business__infos {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .business__infos h4 {
    padding: 0;
    align-self: end;
    justify-self: end; }

.business__contact {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.business__description {
  padding: 2.6rem 3vw 5.2rem 3vw; }

.business__rate {
  padding: 3vh 3vw;
  width: 90%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 20vh;
  box-shadow: 0px -2px 13px 1px rgba(208, 173, 142, 0.3); }
  .business__rate--title {
    padding: 0;
    padding-bottom: 1.6rem;
    color: #d0ad8e; }
  .business__rate--badges {
    width: 100%;
    height: 12vh; }

@media (min-width: 600px) {
  .business__template--header {
    float: left; }
    .business__template--header__img {
      grid-row: 2/3; }
    .business__template--header__text {
      grid-row: 1/2; }
  .business__template--content {
    padding-top: 100px;
    position: fixed;
    right: 0; }
  .business__desktop {
    width: 50vw;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
    float: right;
    background-color: #ccb7a8;
    white-space: inherit; }
  .business__rate {
    margin-bottom: 5.2rem; }
  .business__map {
    width: 80%;
    height: 450px;
    margin: auto;
    background-color: #9aafa2; } }

.map .mapouter {
  width: 100%;
  height: 100%; }

.map .gmap_canvas {
  width: 100%;
  height: 100%; }

.map iframe {
  width: 100%;
  height: 100%; }
  .map iframe .profile-photo {
    display: none; }

.map a {
  font-size: 0.9rem; }

.opacity {
  opacity: 0; }

.none {
  display: none; }

/* ============================================ */
/* =============== GENERAL ==================== */
/* ============================================ */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Nunito, sans-serif; }

* {
  transition: 1s all ease; }

:root {
  font-size: 62.5%; }

body {
  background-color: #f7f2eb;
  width: 100vw;
  height: auto; }

h1 {
  color: #e2685b;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 4.3rem;
  padding-top: calc(3 * 4.3rem);
  padding-bottom: calc(2 * 4.3rem);
  width: fit-content;
  height: fit-content; }

h2 {
  color: #e2685b;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.6rem;
  padding-top: calc(3 * 2.6rem);
  padding-bottom: calc(2 * 2.6rem);
  width: fit-content;
  height: fit-content; }
  @media (min-width: 600px) {
    h2 {
      color: #e2685b;
      font-size: 2.7rem;
      font-weight: 700;
      line-height: 3.3rem;
      padding-top: calc(3 * 3.3rem);
      padding-bottom: calc(2 * 3.3rem); } }

h3 {
  color: #f9ecd7;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.6rem;
  padding-top: calc(3 * 2.6rem);
  padding-bottom: calc(2 * 2.6rem); }
  @media (min-width: 600px) {
    h3 {
      color: #6b927a;
      font-size: 2.7rem;
      font-weight: 700;
      line-height: 1.6rem;
      padding-top: calc(3 * 1.6rem);
      padding-bottom: calc(2 * 1.6rem); } }

h4 {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #f9ecd7;
  font-weight: 600;
  font-style: italic; }
  @media (min-width: 600px) {
    h4 {
      color: #6b927a;
      font-size: 2.1rem;
      font-weight: 700;
      line-height: 1.6rem;
      padding-top: calc(3 * 1.6rem);
      padding-bottom: calc(2 * 1.6rem); } }

p {
  color: #e2685b;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  padding-bottom: 2.6rem;
  width: fit-content;
  height: fit-content; }
  @media (min-width: 600px) {
    p {
      color: #e2685b;
      font-size: 2.1rem;
      line-height: 3.3rem;
      font-weight: 600;
      padding-bottom: 3.3rem; } }

a {
  text-decoration: none;
  color: #e2685b;
  font-size: 2.1rem;
  width: fit-content;
  height: fit-content; }

.button {
  position: relative;
  border-radius: 100px; }
  .button a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.logos {
  width: auto;
  height: 60%;
  place-self: center; }

.menu-main--desk {
  display: none; }
  @media (min-width: 600px) {
    .menu-main--desk {
      display: grid; } }

.desk-only {
  display: none; }
  @media (min-width: 600px) {
    .desk-only {
      display: block; } }

.none {
  display: none; }

.launching__container,
.about-main__container {
  padding: 3vw 3vh;
  width: 100%;
  height: 100vh; }
  @media (min-width: 600px) {
    .launching__container,
    .about-main__container {
      padding: 0 5vw;
      width: 100%;
      height: 90vh;
      display: grid;
      grid-template-columns: 1fr 1fr; } }

/* ============================================ */
/* =============== LAUNCHING ==================== */
/* ============================================ */
.launching {
  background: url("background-img/png-launch-illu.png"), none;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 600px) {
    .launching {
      background-image: none;
      margin: 10vh 0vw;
      grid-gap: 2%; } }
  .launching__img {
    width: 100%;
    height: auto;
    grid-column: 1/2;
    max-width: 650px;
    place-self: center; }
  @media (min-width: 600px) {
    .launching__title {
      width: 100%;
      max-width: 600px;
      padding: 20% 5%;
      padding-right: 10%;
      grid-column: 2/3;
      place-self: center; } }
  .launching__button-container {
    width: 90%;
    height: 45px;
    position: fixed;
    bottom: 3vh;
    background-color: white;
    box-shadow: 2px 3px 0px 1px #f1e0c2; }
    @media (min-width: 600px) {
      .launching__button-container {
        width: 300px;
        height: 50px;
        display: none; } }

/* ============================================ */
/* =============== MENU ==================== */
/* ============================================ */
.menu-main__link--eat {
  background-blend-mode: multiply;
  background-color: #e2685b; }
  @media (min-width: 600px) {
    .menu-main__link--eat {
      background-color: inherit; } }

.menu-main__link--shop {
  background-blend-mode: multiply;
  background-color: #efd4a8; }
  @media (min-width: 600px) {
    .menu-main__link--shop {
      background-color: inherit; } }

.menu-main__link--stay {
  background-blend-mode: multiply;
  background-color: #e38655; }
  @media (min-width: 600px) {
    .menu-main__link--stay {
      background-color: inherit; } }

.menu-main__link--travel {
  background-blend-mode: multiply;
  background-color: #6b927a; }
  @media (min-width: 600px) {
    .menu-main__link--travel {
      background-color: inherit; } }

.menu-main__link--discover {
  background-blend-mode: multiply;
  background-color: #e2685b; }
  @media (min-width: 600px) {
    .menu-main__link--discover {
      background-color: inherit; } }

.menu-main__link--party {
  background-blend-mode: multiply;
  background-color: #efd4a8; }
  @media (min-width: 600px) {
    .menu-main__link--party {
      background-color: inherit; } }

.menu-main__link--chill {
  background-blend-mode: multiply;
  background-color: #d0ad8e; }
  @media (min-width: 600px) {
    .menu-main__link--chill {
      background-color: inherit; } }

.menu-main__link--other {
  background-blend-mode: multiply;
  background-color: #e38655; }
  @media (min-width: 600px) {
    .menu-main__link--other {
      background-color: inherit; } }

.menu-main__container {
  position: fixed;
  top: 0vh;
  background-color: #e38655;
  width: 100%;
  height: 100vh;
  z-index: 40;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background: url("background-img/png-main-menu_shadow.svg"), white;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 600px) {
    .menu-main__container {
      background: none;
      background-color: #f7f2eb;
      box-shadow: 0px -2px 23px 1px rgba(208, 173, 142, 0.4);
      height: 10vh;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto 1fr 1fr;
      grid-template-rows: 1fr; } }

.menu-main__logo {
  display: none; }
  @media (min-width: 600px) {
    .menu-main__logo {
      display: block; } }

.menu-main__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: relative; }
  .menu-main__link h1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .menu-main__link h1 {
    font-size: 2.1rem;
    color: #f9ecd7;
    font-weight: 400;
    padding: 0; }
    @media (min-width: 600px) {
      .menu-main__link h1 {
        text-decoration: none;
        color: #e2685b;
        font-size: 1.6rem; } }
  .menu-main__link--about {
    grid-column: 11/-1; }

/* ============================================ */
/* =============== ABOUT ==================== */
/* ============================================ */
.about-main__container {
  width: 100%;
  height: auto; }

.about-sub__container {
  display: grid;
  grid-column-gap: 7%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr auto;
  grid-column: 1/-1; }
  .about-sub__container h2 {
    grid-column: 1/2;
    grid-row: 1/2; }
  .about-sub__container p:nth-of-type(1) {
    grid-column: 1/2; }
  .about-sub__container p:nth-of-type(2) {
    grid-column: 2/3;
    grid-row: 2/3; }

/* ============================================ */
/* =============== CONTACT ==================== */
/* ============================================ */
.contact__shape {
  position: fixed;
  width: 35%;
  height: auto;
  right: -5vh;
  bottom: -15vh;
  opacity: 1;
  text-shadow: 0px -2px 23px #ccb7a8; }

@media (min-width: 600px) {
  .contact__link--container {
    position: fixed;
    width: 30%;
    height: 50px;
    right: -5vh;
    bottom: 5vh;
    display: grid;
    grid-template-columns: 1.5fr 5fr 5fr; }
    .contact__link--container a:nth-of-type(3) {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-column-gap: 15px; }
      .contact__link--container a:nth-of-type(3) img {
        align-self: center; } }

.contact__link {
  color: #ccb7a8;
  align-self: center; }
  .contact__link img {
    width: 20px;
    height: 20px; }
