/* COLORS */
/* STYLE ELEMENTS */
/* -------------GENERAL STYLE SHEET----------------- */
/* FONT SIZE */
/* FONT WEIGHT */
/* LINE HEIGHT */
/* EFFECT TRANSITIONS */
/* ------------- MIXINS STYLE----------------- */
/* -------------- MIXINS FUNCTIONS ------------------- */
/* -------------- MIXINS RESPONSIVENESS ------------------- */
/* COLORS */
/* STYLE ELEMENTS */
/* -------------GENERAL STYLE SHEET----------------- */
/* FONT SIZE */
/* FONT WEIGHT */
/* LINE HEIGHT */
/* EFFECT TRANSITIONS */
/* ------------- MIXINS STYLE----------------- */
/* -------------- MIXINS FUNCTIONS ------------------- */
/* -------------- MIXINS RESPONSIVENESS ------------------- */
.opacity {
  opacity: 0; }

.selected {
  border-radius: 50%;
  border: solid 3px #d0ad8e; }

.none {
  display: none; }

.underline {
  border-bottom: 2px solid #e2685b; }

.blink {
  animation: blinkAnim 0.3s 0.3s forwards ease; }

.showUpGallery {
  animation: fadeUp 0.6s forwards; }

@keyframes blinkAnim {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 1;
    transform: scale(1.1); }
  100% {
    opacity: 1; } }

@keyframes fadeUp {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    opacity: 1; } }

.category-display {
  width: 100vw;
  height: 5vh;
  text-align: center;
  background-color: #f7f2eb;
  position: fixed;
  box-shadow: 0px -2px 23px 1px rgba(208, 173, 142, 0.4);
  top: 0; }
  .category-display h2 {
    padding: 0;
    color: #e2685b;
    font-size: 1.2rem;
    margin: auto; }

/* ============================================ */
/* =============== GALLERY ==================== */
/* ============================================ */
.gallery {
  width: 100vw;
  height: auto;
  background-color: none;
  display: grid;
  padding: 5vh 0 7vh 0; }
  .gallery::after {
    content: " ";
    grid-column: 1/-1;
    height: 10vh; }
  @media (min-width: 600px) {
    .gallery {
      grid-template-columns: 2% 1fr 2% 2%;
      grid-row-gap: 3%;
      grid-column-gap: 3%;
      margin: 10vh 0; } }
  @media (min-width: 900px) and (orientation: landscape) {
    .gallery {
      width: 100vw;
      height: auto;
      margin: 20vh 0;
      grid-template-columns: 5% 1fr 5% 5%;
      grid-auto-rows: minmax(35vh, 1fr);
      grid-row-gap: 5%;
      grid-column-gap: 3%; } }
  .gallery a {
    width: 100%;
    height: 100%;
    grid-column: 1/-1; }
    @media (min-width: 600px) {
      .gallery a {
        grid-column: 2/3; } }
  .gallery a:nth-child(odd) .gallery__item__img {
    grid-column: 2/3;
    grid-row: 1/-1; }
  .gallery a:nth-child(odd) .gallery__item__infos {
    grid-column: 1/2;
    grid-row: 1/-1; }
  @media (min-width: 600px) {
    .gallery a:nth-child(odd) .gallery__item__img {
      grid-column: 1/2;
      grid-row: 1/-1; }
    .gallery a:nth-child(odd) .gallery__item__infos {
      grid-column: 2/3;
      grid-row: 1/-1; } }
  .gallery__item {
    min-height: 170px;
    display: grid;
    grid-template-columns: 50% 50%; }
    @media (min-width: 600px) {
      .gallery__item {
        background-color: #f7f2eb;
        height: 100%;
        grid-template-columns: 33% 66%;
        box-shadow: 0px -2px 23px 1px rgba(208, 173, 142, 0.4);
        border-radius: 25px; } }
    .gallery__item__img {
      width: auto;
      height: 100%;
      background-size: cover;
      background-position: 80% 0%;
      background-repeat: no-repeat; }
      @media (min-width: 600px) {
        .gallery__item__img {
          border-radius: 25px; } }
    .gallery__item__infos {
      width: 100%;
      height: 100%;
      padding: 1.2rem;
      background-color: none;
      text-align: center;
      display: grid;
      grid-template-rows: 1fr 2fr 1.5fr;
      border-radius: 0 50px 50px 0; }
      @media (min-width: 600px) {
        .gallery__item__infos {
          padding: 3.3rem 2.6rem 2.6rem;
          text-align: start;
          grid-template-rows: 1fr 1fr 2fr;
          grid-template-columns: 2fr 1fr;
          grid-gap: 2.1rem;
          grid-column-gap: 3.3rem; } }
      @media (min-width: 900px) and (orientation: landscape) {
        .gallery__item__infos {
          padding: 5.3rem 3.3rem 3.3rem;
          text-align: start;
          grid-template-rows: 1fr 1fr 2fr;
          grid-template-columns: 2fr 1fr;
          grid-gap: 2.1rem;
          grid-column-gap: 3.3rem; } }
      .gallery__item__infos--up {
        grid-row: 1/2; }
        .gallery__item__infos--up .price {
          float: left;
          font-size: 1.2rem; }
        .gallery__item__infos--up .distance {
          float: right;
          font-size: 1.2rem; }
        @media (min-width: 600px) {
          .gallery__item__infos--up {
            grid-column: 2/-1; }
            .gallery__item__infos--up .price,
            .gallery__item__infos--up .distance {
              font-size: 2.1rem; } }
      .gallery__item__infos--text {
        grid-row: 2/3;
        place-self: center; }
        @media (min-width: 600px) {
          .gallery__item__infos--text {
            grid-column: 1/2;
            grid-row: 1/-1;
            width: 100%;
            height: 100%;
            justify-self: start; } }
      .gallery__item__infos--bottom {
        grid-row: 3/4; }
        @media (min-width: 600px) {
          .gallery__item__infos--bottom {
            grid-column: 2/-1;
            grid-row: 3/4; } }

/* ============================================ */
/* =============== HOVER EFFECT================ */
/* ============================================ */
.gallery__item {
  transition: all 0.3s ease;
  transform: scale(1);
  opacity: 1;
  filter: grayscale(30%); }

.gallery__item:hover {
  transform: scale(1.01);
  opacity: 1;
  filter: grayscale(0%); }

.filter__modal--gallery {
  transition: all 0.3s ease;
  transform: scale(1);
  opacity: 1;
  filter: grayscale(30%); }
  .filter__modal--gallery .filter__list img {
    transition: all ease 0.6s;
    transform: scale(0.9);
    opacity: 1;
    filter: grayscale(30%); }
  .filter__modal--gallery .filter__list img:hover {
    transform: scale(1);
    opacity: 1;
    filter: grayscale(0%); }

.filter__modal--gallery:hover {
  transform: scale(1.05);
  opacity: 1;
  filter: grayscale(0%);
  cursor: pointer; }

/* ============================================ */
/* =============== STYLE TEXT ================= */
/* ============================================ */
@media (max-width: 599px) {
  .gallery__item__infos--text h3 {
    padding: 0;
    font-size: 1.6rem;
    line-height: inherit;
    color: #f7f2eb; } }

@media (max-width: 599px) {
  .gallery__item__infos--text h4 {
    padding: 0;
    font-size: 1.4rem;
    line-height: inherit;
    color: #f7f2eb; } }

.gallery__item__infos--text p {
  max-width: 450px;
  max-height: 100px;
  overflow-y: scroll;
  color: #6b927a;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  padding-bottom: calc(2.6rem / 2);
  padding-bottom: 0;
  color: #e2685b; }

.gallery__item__infos--up p {
  padding-bottom: 0; }
  @media (max-width: 599px) {
    .gallery__item__infos--up p {
      color: #f7f2eb; } }

/* ============================================ */
/* ================ BADGES ==================== */
/* ============================================ */
.badge__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 33%); }

.badge__img {
  width: 100%;
  height: 100%; }

/* ============================================ */
/* =============== BOTTOM MENU ================ */
/* ============================================ */
.menu-bottom__modal {
  position: fixed;
  bottom: 0;
  background-color: #f7f2eb;
  z-index: 45;
  width: 100vw;
  height: 7vh; }
  @media (min-width: 600px) {
    .menu-bottom__modal {
      width: 0vh;
      height: 0vw; } }
  .menu-bottom__modal--rate {
    width: 100vw;
    height: 65vh; }
    @media (min-width: 600px) {
      .menu-bottom__modal--rate {
        width: 100%;
        height: 65%;
        position: absolute; } }

.map__container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  position: relative; }
  @media (min-width: 600px) {
    .map__container {
      display: none; } }
  .map__container .map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .map__container .map {
    width: 100%;
    height: 85%; }

/* ============================================ */
/* ================ FILTER ==================== */
/* ============================================ */
.filter__button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f7f2eb;
  box-shadow: 0px -2px 13px 1px rgba(208, 173, 142, 0.3);
  position: absolute;
  display: grid;
  top: -60px;
  right: calc(50vw - 50px);
  clip-path: polygon(-30px -30px, 160px -30px, 160px 61px, 0 61px); }
  .filter__button a {
    width: 100%;
    height: auto;
    place-self: center;
    text-align: center; }
  .filter__button img {
    width: 36px;
    height: auto;
    margin-bottom: calc(35% - 18px); }
    @media (min-width: 600px) {
      .filter__button img {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .filter__button--filter {
      top: 0vh;
      right: 0vw;
      box-shadow: none; } }

.filter__modal {
  position: absolute;
  top: 0vh;
  padding: 0.8rem 1.6rem 0;
  z-index: 5;
  background-color: #f7f2eb;
  box-shadow: 0px -2px 13px 1px rgba(208, 173, 142, 0.3); }
  .filter__modal h2 {
    color: #ccb7a8;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    transition: 0.3s opacity ease; }
  .filter__modal--gallery {
    width: 100vw;
    height: 0vh; }
    @media (min-width: 600px) {
      .filter__modal--gallery {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #f7f2eb;
        position: fixed;
        top: 60vh;
        right: 5vw; } }
  .filter__modal--rate {
    width: 100vw;
    height: 65vh;
    box-shadow: none;
    padding: 0; }
    @media (min-width: 600px) {
      .filter__modal--rate {
        width: 100%;
        height: 75%; } }
    .filter__modal--rate h2 {
      opacity: 1;
      display: block; }
    .filter__modal--rate .filter__list {
      opacity: 1;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      padding: 20px;
      white-space: initial; }
      @media (min-width: 900px) and (orientation: landscape) {
        .filter__modal--rate .filter__list {
          grid-gap: 20px; } }

.filter__list {
  width: auto;
  height: 60%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  background-color: none; }
  @media (min-width: 600px) {
    .filter__list {
      height: 100%; } }
  .filter__list div {
    place-self: center; }
  .filter__list a {
    width: 30%;
    height: auto;
    display: inline-block;
    max-width: 100px; }
    .filter__list a img {
      width: 100%;
      height: 100%; }

.menu-bottom {
  width: 100%;
  height: 7%;
  background-color: #f7f2eb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  padding: 0 3vw;
  z-index: 45;
  box-shadow: 0px -2px 13px 1px rgba(208, 173, 142, 0.2); }
  @media (min-width: 600px) {
    .menu-bottom {
      position: absolute;
      height: 7vh;
      padding: 0 3%; } }
  .menu-bottom__link {
    width: 100%;
    height: 100%; }
    .menu-bottom__link--map {
      text-align: center; }
    .menu-bottom__link--burger {
      text-align: right;
      grid-column: 3/4; }
    .menu-bottom__link__img {
      width: 25%;
      height: 100%;
      position: relative; }
      .menu-bottom__link__img img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
      .menu-bottom__link__img img {
        width: 100%;
        height: auto; }

/* ============================================ */
/* ============== BURGER MENU ================= */
/* ============================================ */
.burger-shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: #682c29;
  opacity: 0.5; }

.burger-menu {
  width: 0vw;
  height: 100vh;
  background: url("background-img/png-main-menu_shadows.png"), #e2685b;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0vw;
  z-index: 50; }
  .burger-menu--link {
    color: #f9ecd7;
    display: block;
    font-size: 1.6rem;
    padding-bottom: 1.6rem;
    opacity: 0; }
    .burger-menu--link__close {
      width: 100px;
      text-align: right;
      padding: 1.6rem;
      margin-left: calc(100% - 100px); }
    .burger-menu--link__container {
      width: 100%;
      padding: 3.3rem;
      height: 60vh;
      margin-top: 25vh; }
  .burger-menu .burger-menu--logo {
    position: absolute;
    margin: auto;
    opacity: 0;
    top: 10vh;
    bottom: 80vh;
    left: 0;
    right: 0;
    width: 80px;
    height: auto; }

.morphing {
  animation: morphing 1s 0s ease-in-out forwards;
  transition: 0.6s all ease; }

.morphingClose {
  animation: morphingClose 1s 0s ease-in-out forwards;
  transition: 0.6s all ease; }

@keyframes morphing {
  0% {
    width: 100px;
    height: 100px;
    border-radius: 50%; }
  70% {
    width: 500px;
    height: 200px;
    border-radius: 5px; }
  93% {
    width: 495px;
    height: 195px;
    border-radius: 5px; }
  100% {
    width: 500px;
    height: 200px;
    border-radius: 5px; } }

@keyframes morphingClose {
  0% {
    width: 500px;
    height: 200px;
    border-radius: 5px; }
  100% {
    width: 100px;
    height: 100px;
    border-radius: 50%; } }

/* COLORS */
/* STYLE ELEMENTS */
/* -------------GENERAL STYLE SHEET----------------- */
/* FONT SIZE */
/* FONT WEIGHT */
/* LINE HEIGHT */
/* EFFECT TRANSITIONS */
/* ------------- MIXINS STYLE----------------- */
/* -------------- MIXINS FUNCTIONS ------------------- */
/* -------------- MIXINS RESPONSIVENESS ------------------- */
.opacity {
  opacity: 0; }

.selected {
  border-radius: 50%;
  border: solid 3px #d0ad8e; }

.none {
  display: none; }

.underline {
  border-bottom: 2px solid #e2685b; }

.blink {
  animation: blinkAnim 0.3s 0.3s forwards ease; }

.showUpGallery {
  animation: fadeUp 0.6s forwards; }

@keyframes blinkAnim {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 1;
    transform: scale(1.1); }
  100% {
    opacity: 1; } }

@keyframes fadeUp {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    opacity: 1; } }

/* ============================================ */
/* =============== GENERAL ==================== */
/* ============================================ */
#myClip {
  -webkit-transform: scale(0.0042, 0.00555);
  transform: scale(0.0042, 0.00555); }

/* ============================================ */
/* =============== BUSINESS =================== */
/* ============================================ */
.business__template {
  width: 100vw;
  height: auto;
  min-height: 100vh; }
  @media (min-width: 600px) {
    .business__template {
      width: 100%;
      height: 100vh;
      margin-top: 20vh;
      position: fixed;
      display: grid;
      grid-template-columns: 4vw 1fr 1fr 4vw;
      grid-gap: 3%; } }
  @media (min-width: 900px) and (orientation: landscape) {
    .business__template {
      width: 100%;
      height: 100vh;
      margin-top: 20vh;
      padding: 0 5vw;
      position: fixed;
      display: grid;
      grid-template-columns: 5vw 1fr 1fr 5vw;
      grid-gap: 5%; } }

.business__template--header {
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-rows: 1fr auto;
  position: relative; }
  @media (min-width: 600px) {
    .business__template--header {
      width: 100%;
      height: fit-content;
      max-width: 450px;
      justify-self: end;
      grid-column: 2/3;
      grid-row-gap: 2.1rem; } }
  .business__template--header__img {
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: center;
    background-position: no-repeat;
    grid-column: 1/-1;
    grid-row: 1/2;
    clip-path: url(#myClip);
    -webkit-clip-path: url(#myClip); }
    @media (min-width: 600px) {
      .business__template--header__img {
        width: 100%;
        height: auto;
        min-height: 250px;
        grid-row: 2/3;
        clip-path: none;
        border-radius: 10px;
        box-shadow: 0px -2px 23px 1px rgba(208, 173, 142, 0.4); } }
  .business__template--header__text {
    width: 100%;
    height: auto;
    max-height: 200px;
    padding: 5vh 3vw 2vh 3vw;
    grid-column: 1/-1;
    grid-row: 2/3;
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content max-content; }
    @media (min-width: 600px) {
      .business__template--header__text {
        padding: 1.6rem;
        grid-row: 1/2;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: max-content max-content; } }
  .business__template--header__shape {
    width: calc(25vw + 120%);
    min-width: 600px;
    height: auto;
    position: absolute;
    transform: scale(-1);
    z-index: -1;
    bottom: -7vh;
    left: -16vw; }
    @media (min-width: 600px) {
      .business__template--header__shape {
        width: calc(25vw + 160%);
        bottom: -5vh;
        left: -35vw; } }
    @media (min-width: 900px) and (orientation: landscape) {
      .business__template--header__shape {
        bottom: -10vh; } }
    @media (min-width: 1024px) and (orientation: portrait) {
      .business__template--header__shape {
        bottom: -10vh; } }
    @media (min-width: 1200px) {
      .business__template--header__shape {
        width: calc(25vw + 120%);
        bottom: -15vh;
        left: -25vw; } }
    @media (min-width: 1800px) {
      .business__template--header__shape {
        left: -33vw;
        width: calc(33vw + 120%); } }
  .business__template--header__contact {
    display: none; }
    @media (min-width: 600px) {
      .business__template--header__contact {
        display: grid;
        grid-template-columns: 1fr 135px;
        grid-template-rows: 2fr 1fr;
        grid-gap: 0.8rem;
        padding: 1.6rem; }
        .business__template--header__contact p {
          padding: 0;
          color: #f7f2eb;
          font-size: 1.6rem;
          line-height: 2.6rem; }
        .business__template--header__contact .see-map__link {
          grid-column: 1/2;
          grid-row: 2/3;
          display: inline;
          width: fit-content;
          align-self: end;
          font-size: 1.6rem;
          color: #f7f2eb; }
          .business__template--header__contact .see-map__link img {
            float: right;
            width: 25px;
            margin-left: 1.6rem; } }
    @media (min-width: 600px) and (min-width: 600px) {
      .business__template--header__contact .see-map__link img:nth-of-type(1) {
        display: none; } }
    @media (min-width: 600px) {
        .business__template--header__contact .business__contact {
          grid-column: 2/3;
          grid-row: 1/3;
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          grid-gap: 0.8rem;
          justify-self: end;
          height: 100%;
          width: 100%;
          align-self: center; }
          .business__template--header__contact .business__contact--link {
            width: 100%;
            height: fit-content;
            align-self: center;
            position: relative; }
            .business__template--header__contact .business__contact--link img {
              width: 20px;
              height: 100%;
              position: absolute;
              margin: auto;
              left: 0; }
            .business__template--header__contact .business__contact--link p {
              margin-left: calc(20px + 1.6rem);
              padding: 0;
              color: #f7f2eb; } }

.business__contact--mobile {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.8rem;
  justify-self: end;
  height: 100%;
  width: 100%;
  align-self: center; }
  .business__contact--mobile a {
    width: 20px;
    height: 20px;
    align-self: center;
    position: relative; }
    .business__contact--mobile a img {
      width: 100%;
      height: 100%;
      position: absolute;
      margin: auto;
      left: 0; }
  @media (min-width: 600px) {
    .business__contact--mobile {
      display: none; } }

.business__title {
  grid-column: 1/2;
  font-size: 1.8rem;
  padding: 0;
  align-self: center; }
  @media (min-width: 600px) {
    .business__title {
      font-size: 2.7rem;
      grid-column: 1/3; } }

.business__subtitle {
  grid-column: 1/2;
  font-size: 1.8rem;
  color: #e2685b;
  padding: 0;
  align-self: center; }
  @media (min-width: 600px) {
    .business__subtitle {
      font-size: 2.1rem; } }

.business__infos {
  grid-column: 2/3;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: end;
  height: 100%;
  align-self: end; }
  .business__infos p {
    padding-bottom: 0; }
  @media (min-width: 600px) {
    .business__infos {
      width: 100%;
      grid-row: 2/3;
      height: fit-content; }
      .business__infos .price {
        justify-self: start; }
      .business__infos .distance {
        justify-self: end; } }

@media (min-width: 600px) {
  .business__template--content {
    width: fit-content;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
    grid-columns: 3/4;
    max-width: 800px;
    margin-top: 100px;
    white-space: inherit;
    justify-self: start; } }

.business__template--content::-webkit-scrollbar {
  width: 0 !important; }

.business__description {
  padding: 2.6rem 3vw 5.2rem 3vw; }
  @media (min-width: 600px) {
    .business__description {
      padding: 0rem 0vw 0rem 1.2rem;
      max-width: 550px;
      font-size: 2.1rem;
      line-height: 3.3rem; } }

.business__rate {
  padding: 3vh 3vw;
  width: 90%;
  height: fit-content;
  max-width: 600px;
  background-color: #f7f2eb;
  border-radius: 10px;
  margin: 0vh auto 20vh auto;
  box-shadow: 0px -2px 13px 1px rgba(208, 173, 142, 0.3); }
  @media (min-width: 600px) {
    .business__rate {
      position: relative;
      height: 250px;
      padding: 3.3rem 2.6rem;
      margin: 10vh auto 10vh 1.2rem; }
      .business__rate h3 {
        font-size: 2.1rem; } }
  .business__rate--title {
    padding: 0;
    padding-bottom: 1.6rem;
    color: #d0ad8e; }
    @media (min-width: 600px) {
      .business__rate--title {
        padding-bottom: 0rem; } }
    @media (min-width: 900px) and (orientation: landscape) {
      .business__rate--title {
        padding-bottom: 2.6rem;
        color: #e2685b;
        font-size: 2.7rem;
        line-height: 3.3rem; } }
  .business__rate--badges {
    width: 100%;
    height: 12vh; }
    @media (min-width: 600px) {
      .business__rate--badges {
        max-width: 300px; }
        .business__rate--badges img {
          height: auto;
          align-self: start; } }
  @media (min-width: 600px) {
    .business__rate .rate-link {
      position: absolute;
      width: 90px;
      bottom: 1.6rem;
      right: 2.6rem; }
      .business__rate .rate-link a {
        width: 100%;
        height: fit-content;
        display: grid;
        grid-template-columns: max-content max-content;
        grid-gap: 15px; }
        .business__rate .rate-link a img {
          place-self: center;
          width: 25px; }
        .business__rate .rate-link a h3 {
          padding: 0;
          padding: 1px;
          border-bottom: 2px solid #e2685b; } }

@media (min-width: 600px) {
  .business__map {
    width: 80%;
    height: 250px;
    background-color: #9aafa2;
    margin: 10vh auto 70vh 1.2rem;
    box-shadow: 0px -2px 23px 1px rgba(208, 173, 142, 0.4); } }

@media (min-width: 900px) and (orientation: landscape) {
  .business__map {
    width: 80%;
    height: 40%;
    max-height: 450px;
    background-color: #9aafa2;
    margin: 13vh auto 50vh 1.2rem;
    border-radius: 10px;
    box-shadow: 0px -2px 23px 1px rgba(208, 173, 142, 0.4); } }

/* ============================================ */
/* =============== BUTTONS ==================== */
/* ============================================ */
.button__rate,
.button__other-rate {
  position: relative;
  position: absolute; }
  .button__rate a,
  .button__other-rate a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .button__rate a,
  .button__other-rate a {
    width: fit-content;
    height: fit-content;
    text-align: center;
    width: 40px;
    height: auto;
    margin: auto;
    margin-top: calc(40% - 20px); }
    .button__rate a img,
    .button__other-rate a img {
      width: 40px;
      height: auto; }

.button__other-rate {
  right: 7%;
  z-index: 50; }

.rate__header {
  width: 100vw;
  height: 20vh; }
  .rate__header--title {
    width: 90%;
    height: 100%; }

/* ============================================ */
/* ================= MAP ====================== */
/* ============================================ */
.mapouter {
  width: 100%;
  height: 100%; }
  .mapouter .gmap_canvas {
    width: 100%;
    height: 100%; }
  .mapouter iframe {
    width: 100%;
    height: 100%; }
    .mapouter iframe .profile-photo {
      display: none; }
  .mapouter a {
    font-size: 0.9rem; }

@media (max-width: 599px) {
  .business__rate--container {
    height: 55vh;
    background: url("background-img/shape--orange-37.svg"), none;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: center; } }

.gallery__item {
  transition: all 0.3s ease;
  transform: scale(1);
  opacity: 1;
  filter: grayscale(30%); }

.gallery__item:hover {
  transform: scale(1.01);
  opacity: 1;
  filter: grayscale(0%); }

.opacity {
  opacity: 0; }

.selected {
  border-radius: 50%;
  border: solid 3px #d0ad8e; }

.none {
  display: none; }

.underline {
  border-bottom: 2px solid #e2685b; }

.blink {
  animation: blinkAnim 0.3s 0.3s forwards ease; }

.showUpGallery {
  animation: fadeUp 0.6s forwards; }

@keyframes blinkAnim {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 1;
    transform: scale(1.1); }
  100% {
    opacity: 1; } }

@keyframes fadeUp {
  0% {
    transform: translateY(20px);
    opacity: 0; }
  100% {
    opacity: 1; } }

/* COLORS */
/* STYLE ELEMENTS */
/* -------------GENERAL STYLE SHEET----------------- */
/* FONT SIZE */
/* FONT WEIGHT */
/* LINE HEIGHT */
/* EFFECT TRANSITIONS */
/* ------------- MIXINS STYLE----------------- */
/* -------------- MIXINS FUNCTIONS ------------------- */
/* -------------- MIXINS RESPONSIVENESS ------------------- */
/* ============================================ */
/* =============== ELEMENTS =================== */
/* ============================================ */
.logo-hor--rate {
  width: 175px;
  height: auto;
  position: absolute;
  top: 3vh;
  left: calc(50vw - 75px); }
  @media (min-width: 600px) {
    .logo-hor--rate {
      top: 5vh;
      width: 190px;
      height: auto;
      left: calc(50vw - 100px); } }

.shape {
  position: absolute;
  right: 0;
  bottom: 0vh;
  width: 100%; }
  @media (min-width: 900px) and (orientation: landscape) {
    .shape {
      width: 55%; } }
  .shape__gallery {
    position: fixed;
    bottom: 10vh; }

/* ============================================ */
/* =============== CONTENT ==================== */
/* ============================================ */
.rate__content {
  position: fixed; }
  .rate__content__title {
    max-width: 400px;
    margin-top: 3.3rem; }
  .rate__content__illu {
    width: 100%;
    height: auto;
    max-width: 600px;
    justify-self: center; }

@media (min-width: 600px) {
  .rate__content {
    width: 100vw;
    height: 85vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 0 5vw;
    display: grid;
    grid-template-rows: 20vh auto;
    grid-row-gap: 3.3rem; }
    .rate__content__title {
      padding: 0;
      justify-self: center;
      align-self: end;
      text-align: center; }
    .rate__content__rate-window {
      grid-row: 2/3;
      justify-self: center;
      align-self: center; }
    .rate__content__illu {
      display: none; } }

@media (min-width: 900px) and (orientation: landscape) {
  .rate__content {
    width: 100vw;
    height: 75vh;
    margin-top: 20vh;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10%; }
    .rate__content__title {
      grid-column: 1/2;
      text-align: start; }
    .rate__content__rate-window {
      grid-column: 2/3;
      grid-row: 1/-1; }
    .rate__content__illu {
      display: block; } }

/* ============================================ */
/* =============== WINDOW ===================== */
/* ============================================ */
.rate__container {
  width: 100vw;
  height: 100vh; }
  @media (min-width: 600px) {
    .rate__container {
      width: 100%;
      height: 570px;
      max-width: 500px;
      position: relative;
      overflow: hidden;
      box-shadow: 0px -2px 23px 1px rgba(208, 173, 142, 0.4);
      border-radius: 10px; } }

/* ============================================ */
/* ================ RATING ==================== */
/* ============================================ */
.rate__page {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f7f2eb; }
  .rate__page h3 {
    display: none;
    color: #d0ad8e;
    position: absolute;
    z-index: 25;
    font-size: 2.1rem;
    left: 4.6rem;
    top: 1rem; }

.range__thumb__container {
  width: 100vw;
  height: 70vh;
  margin: 15vh 0;
  touch-action: none; }
  @media (min-width: 600px) {
    .range__thumb__container {
      width: 100%;
      height: 399px;
      margin: 85.5px 0; } }

.range__fill {
  width: 100vw;
  height: 50vh;
  position: fixed;
  bottom: 0vh;
  transition: none; }
  .range__fill:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    right: 0;
    border-top: dashed 5px #a88267; }
  .range__fill svg {
    width: 200%;
    height: auto;
    transform: translateX(-30%); }
  @media (min-width: 600px) {
    .range__fill {
      position: absolute;
      width: 100%;
      height: 285px; } }

.range__thumb {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 3vw;
  top: calc(50% - 50px);
  background-image: url("background-img/vegan.svg");
  background-color: #f7f2eb;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 10px solid rgba(154, 175, 162, 0.9);
  transition: none;
  touch-action: none;
  user-select: none;
  z-index: 5; }

.range__thumb:hover {
  cursor: pointer;
  border-width: 20px; }

.range__scale {
  width: 30px;
  height: 100%;
  width: 30px;
  height: 70vh;
  margin: 15vh 0 15vh 80vw;
  border-left: 5px solid #a88267;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  transform: scale(-1); }
  .range__scale--level {
    width: 25px;
    height: 5px;
    background-color: #a88267; }
  @media (min-width: 600px) {
    .range__scale {
      left: 3%;
      height: calc(570px - (85.5px * 2));
      margin: 85.5px 0 85.5px 80%; } }

.range__keyword {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: -2vh;
  left: 3vw;
  padding: 0px 1.6rem;
  font-size: 1.8rem;
  color: #6b927a;
  background-color: #f7f2eb; }
  @media (min-width: 600px) {
    .range__keyword {
      left: 55px;
      font-size: 2.1rem; } }

/* ============================================ */
/* ================= STEPS ==================== */
/* ============================================ */
.rate__intro {
  display: block; }
  @media (min-width: 600px) {
    .rate__intro--title {
      display: none; } }

.rate__again,
.rate__conclusion {
  display: none; }
  .rate__again h2,
  .rate__conclusion h2 {
    color: #d0ad8e;
    padding: 0 0 1.6rem 0; }

.rate__intro,
.rate__again,
.rate__conclusion {
  width: 100%;
  height: 100%;
  padding: 6.6rem 1.6rem 1.6rem 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f7f2eb;
  z-index: 10; }
  .rate__intro--title,
  .rate__again--title,
  .rate__conclusion--title {
    font-size: 2.7rem;
    line-height: 3.3rem;
    padding: 0 0 1.6rem 0; }
  .rate__intro--business,
  .rate__again--business,
  .rate__conclusion--business {
    padding: 0; }
    @media (min-width: 600px) {
      .rate__intro--business,
      .rate__again--business,
      .rate__conclusion--business {
        display: none; } }
  .rate__intro li,
  .rate__again li,
  .rate__conclusion li {
    color: #e2685b;
    font-size: 2.1rem;
    line-height: 2.1rem;
    font-weight: 600;
    padding-bottom: calc(2.1rem / 2);
    list-style-type: none; }

.rate__again {
  grid-template-rows: 0.5fr max-content 0.5fr 0.5fr;
  padding-bottom: 6.6rem; }
  .rate__again h2:nth-of-type(2) {
    grid-row: 4/5;
    align-self: end; }
  .rate__again .selectedRate {
    color: #e2685b; }

.rate__conclusion h2 {
  align-self: end;
  color: #e2685b;
  font-size: 1.6rem; }

/* ============================================ */
/* ================ BADGES ==================== */
/* ============================================ */
.current-badge__rate {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px; }
  .current-badge__rate img {
    max-width: 100px;
    background-color: #f7f2eb; }
  .current-badge__rate div {
    align-self: center; }
    .current-badge__rate div h2 {
      padding: 0; }

.rate__badge--link {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  display: inline-block;
  background-color: #f7f2eb;
  box-shadow: 0 0 20px 1px rgba(208, 173, 142, 0.4); }
  .rate__badge--link img {
    width: 100%;
    height: auto; }
  @media (min-width: 600px) {
    .rate__badge--link {
      width: 100px;
      height: 100px; } }

.badge--selected {
  background-color: #d0ad8e;
  border: solid 3px #d0ad8e; }

.badge--voted {
  opacity: 0.4; }

/* ============================================ */
/* =============== BUTTONS ==================== */
/* ============================================ */
.button__submit--rating {
  display: none; }

.button-rate--again, .button-rate--next, .button-rate--next__2 {
  display: none; }

.button-rate--rate {
  display: grid; }

.button-rate__container {
  width: fit-content;
  height: fit-content;
  grid-template-columns: max-content max-content;
  grid-gap: 15px;
  align-self: center; }
  .button-rate__container img {
    width: 20px; }
  .button-rate__container p {
    padding: 0;
    padding: 1px;
    border-bottom: 2px solid #e2685b; }

.button-rate--right {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: end;
  padding-right: 3vw; }
  @media (min-width: 600px) {
    .button-rate--right {
      padding-right: 0; } }
  .button-rate--right p {
    grid-column: 1/2;
    grid-row: 1/2; }
  .button-rate--right img {
    grid-column: 2/3; }

.button-rate--left {
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: start;
  padding-left: 3vw; }
  @media (min-width: 600px) {
    .button-rate--left {
      padding-left: 0; } }
  .button-rate--left p {
    grid-column: 2/3;
    grid-row: 1/2; }
  .button-rate--left img {
    grid-column: 1/2;
    transform: scale(-1); }

.no-msg {
  grid-column: 1/3;
  grid-row: 1/2; }
  .no-msg p {
    padding: 0;
    font-size: 1.2rem;
    border-bottom: 1px solid #e2685b; }
    @media (min-width: 600px) {
      .no-msg p {
        font-size: 1.6rem; } }

.button__submit--rating {
  height: fit-content;
  align-self: center; }
  .button__submit--rating h3 {
    padding: 0 3vw 0 0;
    float: right;
    font-size: 2.1rem; }
    @media (min-width: 600px) {
      .button__submit--rating h3 {
        padding-right: 0; } }

.back-to-business__link {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 3vw;
  left: 3vw;
  z-index: 45; }
  .back-to-business__link h2 {
    padding: 0;
    color: #d0ad8e; }

textarea {
  width: 100%;
  height: 159px;
  padding: 1.6rem;
  color: #e2685b;
  background-color: #f7f2eb;
  border-radius: 10px;
  border: 2px solid #e2685b;
  box-shadow: none; }
  textarea::placeholder {
    color: #e2685b; }

/* ============================================ */
/* =============== THANK YOU ================== */
/* ============================================ */
.thank--you--screen {
  background-color: #f7f2eb;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 2.6rem; }
  @media (min-width: 600px) {
    .thank--you--screen {
      grid-gap: 1.6rem; } }
  .thank--you--screen h3 {
    justify-self: center;
    text-align: center;
    width: 80%;
    padding: 0; }
    @media (min-width: 600px) {
      .thank--you--screen h3 {
        font-size: 3.3rem; } }
  .thank--you--screen h3:nth-of-type(1) {
    grid-row: 3/4;
    align-self: end; }
  .thank--you--screen h3:nth-of-type(2) {
    grid-row: 4/5;
    align-self: start; }
  .thank--you--screen img {
    width: 60%;
    max-width: 200px;
    grid-row: 7/8;
    place-self: center; }

.none {
  display: none; }

/* ============================================ */
/* ================= HOVER ==================== */
/* ============================================ */
.button-rate,
.button__submit--rating {
  transform: scale(0.95);
  transition: all ease 0.3s;
  cursor: pointer;
  opacity: 0.8; }

.button-rate:hover,
.button__submit--rating:hover {
  transform: scale(1);
  opacity: 1; }

.rate__badge--link {
  transition: all ease 0.6s;
  transform: scale(0.9);
  opacity: 1;
  filter: grayscale(30%); }

.rate__badge--link:hover {
  transform: scale(1);
  opacity: 1;
  filter: grayscale(0%); }

/* COLORS */
/* STYLE ELEMENTS */
/* -------------GENERAL STYLE SHEET----------------- */
/* FONT SIZE */
/* FONT WEIGHT */
/* LINE HEIGHT */
/* EFFECT TRANSITIONS */
/* ------------- MIXINS STYLE----------------- */
/* -------------- MIXINS FUNCTIONS ------------------- */
/* -------------- MIXINS RESPONSIVENESS ------------------- */
/* ============================================ */
/* =============== CONTACT ==================== */
/* ============================================ */
.contact-page {
  width: 100%;
  height: 100vh;
  padding: 3vw 3vh;
  height: auto;
  display: grid;
  grid-column: 1/-1; }
  @media (min-width: 600px) {
    .contact-page {
      padding: 0 5vw;
      padding-top: 10vh;
      width: 100%;
      height: 90vh;
      grid-template-columns: 1fr 1fr; } }
  @media (min-width: 600px) {
    .contact-page__item {
      padding-top: 10vh; } }

.contact-page__item--2 {
  width: fit-content;
  height: fit-content; }
  @media (min-width: 600px) {
    .contact-page__item--2 {
      padding-top: calc(6 * 3.3rem);
      padding-bottom: calc(2 * 3.3rem);
      justify-self: center; } }
  .contact-page__item--2 div {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: max-content max-content; }
    .contact-page__item--2 div a {
      grid-column: 2/3;
      place-self: center;
      width: auto;
      height: 45px; }
      .contact-page__item--2 div a img {
        width: auto;
        height: 100%; }
  .contact-page__item--2 p {
    grid-column: 1/2;
    padding-top: 3.3rem;
    padding-bottom: 1.6rem; }
  .contact-page__item--2 a:nth-of-type(1) {
    font-size: 3.3rem; }
  .contact-page__item--2 a {
    display: block; }

.contact__shape {
  width: 35%;
  height: auto;
  min-width: 550px;
  position: fixed;
  right: 0vh;
  bottom: -15vh;
  opacity: 1;
  text-shadow: 0px -2px 23px #ccb7a8; }
  @media (min-width: 1024px) and (orientation: portrait) {
    .contact__shape {
      bottom: -10vh; } }
  @media (min-width: 1200px) {
    .contact__shape {
      min-width: 650px;
      right: -5vh;
      bottom: -12vh; } }

.contact__link {
  color: #ccb7a8;
  align-self: center; }
  .contact__link img {
    width: 20px;
    height: 20px; }

.contact__link--container {
  position: fixed;
  width: 30%;
  height: 50px;
  min-width: fit-content;
  right: 1vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: max-content max-content max-content; }
  .contact__link--container a:nth-of-type(3) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 15px; }
    .contact__link--container a:nth-of-type(3) img {
      align-self: center; }
  @media (min-width: 600px) {
    .contact__link--container {
      bottom: 2vh; } }
  @media (min-width: 1200px) {
    .contact__link--container {
      bottom: 5vh;
      right: -5vw; } }

@media (min-width: 600px) {
  .contact-page__container {
    grid-column-gap: 7%; } }

.contact-page__form {
  width: 100%;
  height: 50%;
  min-height: 300px;
  display: grid;
  grid-template-rows: 0.5fr 3fr;
  grid-gap: 3.3rem;
  margin-bottom: 6.6rem; }
  @media (min-width: 600px) {
    .contact-page__form {
      padding-top: 9.9rem; } }
  .contact-page__form label {
    width: 100%;
    height: 100%;
    color: #e2685b;
    font-size: 1.6rem; }
    .contact-page__form label input {
      width: 100%;
      height: 100%;
      background-color: #f7f2eb;
      border-radius: 10px;
      border: 2px solid #e2685b;
      box-shadow: none; }

/* ============================================ */
/* =============== GENERAL ==================== */
/* ============================================ */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: Nunito, sans-serif; }

:root {
  font-size: 62.5%; }

body {
  background-color: #f7f2eb;
  width: 100vw;
  height: auto; }

h1 {
  color: #e2685b;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 4.3rem;
  padding-top: calc(3 * 4.3rem);
  padding-bottom: calc(2 * 4.3rem);
  width: fit-content;
  height: fit-content; }

h2 {
  color: #e2685b;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.6rem;
  padding-top: calc(3 * 2.6rem);
  padding-bottom: calc(2 * 2.6rem);
  width: fit-content;
  height: fit-content; }
  @media (min-width: 600px) {
    h2 {
      color: #e2685b;
      font-size: 2.7rem;
      font-weight: 700;
      line-height: 3.3rem;
      padding-top: calc(3 * 3.3rem);
      padding-bottom: calc(2 * 3.3rem); } }

h3 {
  color: #e2685b;
  font-size: 2.1rem;
  line-height: 2.6rem;
  font-weight: 600;
  padding-bottom: calc(2.6rem / 2); }
  @media (min-width: 900px) and (orientation: landscape) {
    h3 {
      color: #e2685b;
      font-size: 2.7rem;
      line-height: 3.3rem;
      font-weight: 600;
      padding-bottom: calc(3.3rem / 2); } }

h4 {
  color: #e2685b;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  padding-bottom: calc(2.6rem / 2);
  font-style: italic; }
  @media (min-width: 900px) and (orientation: landscape) {
    h4 {
      color: #e2685b;
      font-size: 2.1rem;
      line-height: 3.3rem;
      font-weight: 600;
      padding-bottom: calc(3.3rem / 2); } }

p {
  color: #e2685b;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  padding-bottom: calc(2.6rem / 2);
  width: fit-content;
  height: fit-content; }
  @media (min-width: 600px) {
    p {
      color: #e2685b;
      font-size: 2.1rem;
      line-height: 3.3rem;
      font-weight: 600;
      padding-bottom: calc(3.3rem / 2); } }

a {
  cursor: pointer;
  text-decoration: none;
  color: #e2685b;
  font-size: 2.1rem;
  width: fit-content;
  height: fit-content; }

.button {
  position: relative;
  border-radius: 10px; }
  .button a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.logos {
  width: auto;
  height: 35%;
  place-self: center; }
  @media (min-width: 900px) and (orientation: landscape) {
    .logos {
      width: auto;
      height: 60%; } }

.menu-main--desk {
  display: none; }
  @media (min-width: 600px) {
    .menu-main--desk {
      display: grid; } }

@media (max-width: 599px) {
  .desk-only {
    display: none; } }

@media (min-width: 600px) {
  .phone-only {
    display: none; } }

.launching__container,
.about-main__container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3vw 3vh;
  width: 100%;
  height: 100vh; }
  @media (min-width: 600px) {
    .launching__container,
    .about-main__container {
      padding: 0 5vw;
      width: 100%;
      height: 90vh;
      grid-template-columns: 1fr 1fr; } }

/* ============================================ */
/* =============== LAUNCHING ================== */
/* ============================================ */
.launching {
  background: url("background-img/png-launch-illu.png"), none;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 600px) {
    .launching {
      margin: 10vh 0vw;
      grid-gap: 2%;
      background-image: none; } }
  .launching__img {
    width: 100%;
    height: auto;
    max-width: 650px;
    grid-column: 1/2;
    place-self: center; }
  @media (min-width: 600px) {
    .launching__title {
      width: 100%;
      max-width: 600px;
      max-height: 250px;
      padding-top: 2.6rem;
      padding-right: 10%;
      grid-column: 2/3;
      place-self: center; }
      .launching__title h1 {
        padding: 0; }
      .launching__title img {
        width: 100%;
        height: fit-content;
        max-width: 400px;
        max-height: 200px; } }
  .launching__button-container {
    width: 90%;
    height: 45px;
    position: fixed;
    bottom: 3vh;
    background-color: white;
    box-shadow: 2px 3px 0px 1px #f1e0c2; }
    @media (min-width: 600px) {
      .launching__button-container {
        width: 300px;
        height: 50px;
        display: none; } }

/* ============================================ */
/* ================== MENU ==================== */
/* ============================================ */
.menu-main__link--eat {
  background-blend-mode: multiply;
  background-color: #e2685b; }
  @media (min-width: 600px) {
    .menu-main__link--eat {
      background-color: inherit; } }

.menu-main__link--shop {
  background-blend-mode: multiply;
  background-color: #efd4a8; }
  @media (min-width: 600px) {
    .menu-main__link--shop {
      background-color: inherit; } }

.menu-main__link--stay {
  background-blend-mode: multiply;
  background-color: #e38655; }
  @media (min-width: 600px) {
    .menu-main__link--stay {
      background-color: inherit; } }

.menu-main__link--travel {
  background-blend-mode: multiply;
  background-color: #6b927a; }
  @media (min-width: 600px) {
    .menu-main__link--travel {
      background-color: inherit; } }

.menu-main__link--discover {
  background-blend-mode: multiply;
  background-color: #e2685b; }
  @media (min-width: 600px) {
    .menu-main__link--discover {
      background-color: inherit; } }

.menu-main__link--party {
  background-blend-mode: multiply;
  background-color: #efd4a8; }
  @media (min-width: 600px) {
    .menu-main__link--party {
      background-color: inherit; } }

.menu-main__link--chill {
  background-blend-mode: multiply;
  background-color: #d0ad8e; }
  @media (min-width: 600px) {
    .menu-main__link--chill {
      background-color: inherit; } }

.menu-main__link--other {
  background-blend-mode: multiply;
  background-color: #e38655; }
  @media (min-width: 600px) {
    .menu-main__link--other {
      background-color: inherit; } }

.menu-main__container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0vh;
  background-color: #e38655;
  z-index: 40;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background: url("background-img/png-main-menu_shadows.png"), white;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 600px) {
    .menu-main__container {
      height: 10vh;
      background: none;
      background-color: #f7f2eb;
      box-shadow: 0px -2px 23px 1px rgba(208, 173, 142, 0.4);
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto 1fr 1fr;
      grid-template-rows: 1fr; } }

.menu-main__logoLink {
  position: relative;
  width: 100%;
  height: 10vh;
  position: relative;
  left: 25%; }
  .menu-main__logoLink img {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.menu-main__logo {
  display: none; }
  @media (min-width: 600px) {
    .menu-main__logo {
      display: block; } }

.menu-main__link {
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none; }
  .menu-main__link h1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .menu-main__link h1 {
    font-size: 2.1rem;
    color: #f9ecd7;
    font-weight: 400;
    padding: 0;
    transition: transform 0.3s; }
    @media (min-width: 600px) {
      .menu-main__link h1 {
        text-decoration: none;
        color: #e2685b;
        font-size: 1.2rem; } }
    @media (min-width: 900px) and (orientation: landscape) {
      .menu-main__link h1 {
        text-decoration: none;
        color: #e2685b;
        font-size: 1.6rem; } }
    .menu-main__link h1:hover {
      transform: scale(1.2); }
  .menu-main__link--about {
    grid-column: 11/-1; }

/* ============================================ */
/* ================= ABOUT ==================== */
/* ============================================ */
.about-main {
  display: none; }
  @media (min-width: 600px) {
    .about-main {
      display: block; } }
  .about-main__container {
    width: 100%;
    height: auto; }

.about-sub__container {
  padding: 3vw 3vh; }
  @media (min-width: 600px) {
    .about-sub__container {
      padding: 0 5vw; }
      .about-sub__container--4 {
        padding: 0 10vw; } }
  .about-sub__container--4 p a {
    color: #f7f2eb;
    border-bottom: solid 2px #f7f2eb; }

.about-sub__business {
  background-color: #e2685b;
  min-height: 65vh; }
  .about-sub__business p,
  .about-sub__business h1,
  .about-sub__business h2,
  .about-sub__business h3 {
    color: #f7f2eb; }
  .about-sub__business .about-sub__text {
    padding-bottom: 10vh; }

.about-sub__img {
  width: 100%;
  height: auto; }
  .about-sub__img--1 {
    transform: translate(-5vw) scaleX(-1);
    max-width: 650px; }
  .about-sub__img--2 {
    padding: 5%; }

@media (min-width: 600px) {
  .about-sub__container {
    display: grid;
    grid-column-gap: 7%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto;
    grid-column: 1/-1; }
    .about-sub__container h2 {
      grid-column: 1/2;
      grid-row: 1/2; }
    .about-sub__container p:nth-of-type(1) {
      grid-column: 1/2; }
    .about-sub__container p:nth-of-type(2) {
      grid-column: 2/3;
      grid-row: 2/3; } }

/* ============================================ */
/* =============== WARNING ==================== */
/* ============================================ */
.project-warning {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #f9ecd7; }
  .project-warning h1 {
    margin-top: 10%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center; }
  .project-warning h2 {
    width: 90%;
    margin: 5%;
    margin-top: 0;
    text-align: center; }
