@import "variables";
@import "classes";

/* ============================================ */
/* =============== GENERAL ==================== */
/* ============================================ */

#myClip {
  -webkit-transform: scale(0.004195862879, 0.005554321262);
  transform: scale(0.004195862879, 0.005554321262);
}
// makes the clipMask shape units translated for responsiveness
// for making it work on every browser, has to convert path points into decimals ( from 0 to 1 )
// see => https://stackoverflow.com/questions/44090167/how-to-use-svg-clippathunits-objectboundingbox

/* ============================================ */
/* =============== BUSINESS =================== */
/* ============================================ */

.business {
  &__template {
    // mobile
    @include size(100vw, auto);
    min-height: 100vh;

    // desktop
    @include for-tablet-portrait-up {
      @include size(100%, 100vh);
      margin-top: 20vh;
      padding: $padding-body-desk;
      position: fixed;
      display: grid;
      grid-template-columns: 5vw 1fr 1fr 5vw;
      grid-gap: 5%;
    }
  }
  &__template--header {
    // mobile
    @include size(100%, 20%);
    display: grid;
    grid-template-rows: 1fr auto;
    position: relative;
    // desktop
    @include for-tablet-portrait-up {
      @include size(100%, fit-content);
      max-width: 450px;
      justify-self: end;
      grid-column: 2/3;
      grid-row-gap: 2.1rem;
      //position: relative; // for shape
    }
    &__img {
      // mobile
      @include size(100%, 170px);
      background-size: cover;
      background-position: center;
      background-position: no-repeat;
      grid-column: 1/-1;
      grid-row: 1/2;
      clip-path: url(#myClip);
      -webkit-clip-path: url(#myClip);
      // desktop
      @include for-tablet-portrait-up {
        @include size(100%, auto);
        min-height: 250px;
        grid-row: 2/3;
        clip-path: none;
        border-radius: $round-corner;
        @include box-shadow($ourshadow, $brown, 0.4);
      }
    }
    &__text {
      // mobile
      @include size(100%, auto);
      max-height: 200px;
      padding: 5vh 3vw 2vh 3vw;
      grid-column: 1/-1;
      grid-row: 2/3;
      display: grid;
      grid-gap: 0.8rem;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: max-content max-content;

      // desktop
      @include for-tablet-portrait-up {
        padding: 1.6rem;
        grid-row: 1/2;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: max-content max-content;
      }
    }
    &__shape {
      transform: scale(-1);
      position: absolute;
      width: calc(25vw + 120%);
      height: auto;
      min-height: 550px;
      bottom: -25%;
      left: -25vw;
      z-index: -1;
    }
    &__contact {
      display: none;
      // contact desktop
      @include for-tablet-portrait-up {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-gap: 0.8rem;
        padding: 1.6rem;
        p {
          padding: 0;
          color: $verylightbeige;
          font-size: $font-small;
          line-height: $line-small;
        }
        .see-map__link {
          grid-column: 1/2;
          grid-row: 2/3;
          display: inline;
          width: fit-content;
          align-self: end;
          font-size: $font-small;
          color: $verylightbeige;

          img {
            float: right;
            width: 25px;
            margin-left: 1.6rem;
          }
          @include for-tablet-portrait-up {
            img:nth-of-type(1) {
              display: none;
            }
          }
        }
        .business__contact {
          // desktop
          grid-column: 2/3;
          grid-row: 1/3;
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          grid-gap: 0.8rem;
          justify-self: end;
          height: 100%;
          width: 100%;
          align-self: center;

          &--link {
            @include size(100%, fit-content);
            align-self: center;
            position: relative;
            img {
              @include size(20px, 100%);
              position: absolute;
              margin: auto;
              left: 0;
            }
            p {
              margin-left: calc(20px + 1.6rem);
              padding: 0;
              color: $verylightbeige;
            }
          }
        }
      }
    }
  }
  &__contact--mobile {
    // mobile
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.8rem;
    justify-self: end;
    height: 100%;
    width: 100%;
    align-self: center;
    a {
      @include size(20px, 20px);
      align-self: center;
      position: relative;
      img {
        @include size(100%, 100%);
        position: absolute;
        margin: auto;
        left: 0;
      }
    }
    @include for-tablet-portrait-up {
      display: none;
    }
  }
  &__title {
    // mobile
    grid-column: 1/2;
    font-size: 1.8rem;
    padding: 0;
    align-self: center;
    // desktop
    @include for-tablet-portrait-up {
      font-size: $font-large;
      grid-column: 1/3;
    }
  }
  &__subtitle {
    // mobile
    grid-column: 1/2;
    font-size: 1.8rem;
    color: $brown;
    padding: 0;
    align-self: center;
    @include for-tablet-portrait-up {
      font-size: $font-normal;
    }
  }
  &__infos {
    // mobile
    grid-column: 2/3;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: end;
    height: 100%;
    align-self: end;
    p {
      padding-bottom: 0;
    }
    //desktop
    @include for-tablet-portrait-up {
      width: 100%;
      grid-row: 2/3;
      height: fit-content;
      .price {
        justify-self: start;
      }

      .distance {
        justify-self: end;
      }
    }
  }

  // END OF TEMPLATE HEADER
  // TEMPLATE CONTENT
  &__template--content {
    // desktop
    @include for-tablet-portrait-up {
      @include scroll-div(hidden, scroll, fit-content, auto);
      grid-columns: 3/4;
      max-width: 800px;
      margin-top: 100px;
      white-space: inherit;
      justify-self: start;
    }
  }
  // hide the scrollbar
  &__template--content::-webkit-scrollbar {
    width: 0 !important;
  }
  &__description {
    // mobile
    padding: 2.6rem 3vw 5.2rem 3vw;
    // desktop
    @include for-tablet-portrait-up {
      padding: 0rem 0vw 0rem 1.2rem;
      max-width: 550px;
      font-size: $font-normal;
      line-height: $line-normal;
    }
  }
  &__rate {
    // mobile
    padding: 3vh 3vw;
    @include size(90%, fit-content);
    max-width: 600px;
    background-color: $verylightbeige;
    border-radius: 10px;
    margin: 0vh auto 20vh auto;
    @include box-shadow($ourshadow-mobile, $brown, 0.3);

    // desktop
    @include for-tablet-portrait-up {
      position: relative;
      height: 250px;
      padding: 3.3rem 2.6rem;
      margin: 10vh auto 10vh 1.2rem;
      h3 {
        font-size: $font-normal;
      }
    }
    &--title {
      padding: 0;
      padding-bottom: 1.6rem;
      color: $brown;
      @include for-tablet-portrait-up {
        padding-bottom: 2.6rem;
        color: $coral;
        font-size: $font-large;
        line-height: $line-large;
      }
    }
    &--badges {
      @include size(100%, 12vh);
      @include for-tablet-portrait-up {
        max-width: 300px;
      }
    }
    .rate-link {
      @include for-tablet-portrait-up {
        display: inline;
        position: absolute;
        width: 80px;
        bottom: 2.6rem;
        right: 2.6rem;
        img {
          width: 25px;
        }
        h3 {
          padding: 0;
        }
      }
    }
  }
  &__map {
    // desktop
    @include for-tablet-portrait-up {
      @include size(80%, 450px);
      background-color: $lightgreen;
      margin: 13vh auto 50vh 1.2rem;
      border-radius: $round-corner; // doesnt work

      @include box-shadow($ourshadow, $brown, 0.4);
    }
  }
}

/* ============================================ */
/* =============== BUTTONS ==================== */
/* ============================================ */

.button__rate,
.button__other-rate {
  @include centered(a);
  position: absolute;
  a {
    @include size(fit-content, fit-content);
    text-align: center;
    width: 40px;
    height: auto;
    margin: auto;
    margin-top: calc(40% - 20px);
    img {
      width: 40px;
      height: auto;
    }
  }
}

.button__other-rate {
  right: 7%;
  z-index: 50;
}

.rate {
  &__header {
    @include size(100vw, 20vh);
    &--title {
      @include size(90%, 100%);
    }
  }
}

// GOOGLE MAP STYLING //

.mapouter {
  width: 100%;
  height: 100%;
  .gmap_canvas {
    width: 100%;
    height: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
    .profile-photo {
      display: none;
    }
  }
  a {
    font-size: 0.9rem;
  }
}
