@import "variables";
@import "classes";

.button__rate,
.button__other-rate {
  @include centered(a);
  position: absolute;
  a {
    @include size(fit-content, fit-content);
    text-align: center;
  }
}

// RATE //

.button__other-rate {
  right: 7%;
  z-index: 50;
}

.rate {
  &__header {
    @include size(100vw, 20vh);
    &--title {
      @include size(90%, 100%);
    }
  }
}

// business

.business {
  @include for-tablet-portrait-up {
    margin-top: 20vh;
    // overflow-y: hidden;
  }
  &__template {
    @include size(100vw, auto);
    min-height: 100vh;
    @include for-tablet-portrait-up {
      @include size(100%, auto);
    }
  }
  &__template--header {
    @include size(100%, 20%);
    display: grid;
    //grid-gap: 1.6rem;
    grid-template-rows: 1fr auto;
    @include for-tablet-portrait-up {
      @include size(35%, auto);
      position: fixed;
    }
    &__img {
      @include size(100%, 170px);
      //background: cover no-repeat center;
      background-size: cover;
      background-position: center;
      background-position: no-repeat;
      // clip-path: polygon(
      //   50% at 50% 0%,
      //   50% at 90% 20%,
      //   50% at 100% 60%,
      //   50% at 75% 100%,
      //   50% at 25% 100%,
      //   50% at 0% 60%,
      //   50% at 10% 20%
      // );
      clip-path: url(#myClip);
      //border-radius: 20px;
      grid-column: 1/-1;
      grid-row: 1/2;
      @include for-tablet-portrait-up {
        @include size(100%, auto);
        min-height: 250px;
      }
    }
    &__text {
      @include size(100%, auto);
      max-height: 200px;
      padding: 5vh 3vw 2vh 3vw;
      @include for-tablet-portrait-up {
        padding: 1.6rem;
      }
      grid-column: 1/-1;
      grid-row: 2/3;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      //grid-column-gap: 13%;
      //grid-row-gap: 0.8rem;
    }
  }
  &__title {
    grid-column: 1/2;
    font-size: 1.8rem;
    padding: 0;
    align-self: end;
  }
  &__subtitle {
    grid-column: 1/2;
    font-size: 1.8rem;
    //font-weight: 400;
    color: $brown;
    padding: 0;
    align-self: end;
  }
  &__infos {
    grid-column: 2/3;
    grid-row: 1/2;
    //background-color: $lightcoral;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h4 {
      padding: 0;
      align-self: end;
      justify-self: end;
    }
  }
  &__contact {
    grid-column: 2/3;
    //background-color: $lightorange;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  &__description {
    padding: 2.6rem 3vw 5.2rem 3vw;
  }
  &__rate {
    padding: 3vh 3vw;
    @include size(90%, auto);
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20vh;
    @include box-shadow($ourshadow-mobile, $brown, 0.3);
    &--title {
      padding: 0;
      padding-bottom: 1.6rem;
      color: $brown;
    }
    &--badges {
      @include size(100%, 12vh);
      //background-color: $green;
    }
  }
}

@include for-tablet-portrait-up {
  .business {
    // &__img {
    //   float: left;
    // }
    &__template--header {
      float: left;
      &__img {
        grid-row: 2/3;
      }
      &__text {
        grid-row: 1/2;
      }
    }
    &__template--content {
      padding-top: 100px;
      position: fixed;
      right: 0;
    }
    &__desktop {
      @include scroll-div(hidden, scroll, 50vw, 100%);
      float: right;
      background-color: $lightbrown;
      white-space: inherit;
    }
    &__rate {
      margin-bottom: 5.2rem;
    }
    &__map {
      @include size(80%, 450px);
      margin: auto;
      background-color: $lightgreen;
    }
  }
}
