@import "variables";

/* ============================================ */
/* =============== CONTACT ==================== */
/* ============================================ */

.contact-page {
  @include size(100%, 100vh);
  padding: 3vw 3vh;
  height: auto;
  display: grid;
  grid-column: 1/-1;
  // desk
  @include for-tablet-portrait-up {
    padding: $padding-body-desk;
    padding-top: 10vh;
    @include size(100%, 90vh);
    grid-template-columns: 1fr 1fr;
  }
  &__item {
    @include for-tablet-portrait-up {
      padding-top: 10vh;
    }
  }
}

.contact-page__item--2 {
  @include size(fit-content, fit-content);
  @include for-tablet-portrait-up {
    padding-top: calc(6 * 3.3rem);
    padding-bottom: calc(2 * 3.3rem);
    justify-self: center;
  }
  div {
    @include size(fit-content, fit-content);
    display: grid;
    grid-template-columns: max-content max-content;
    a {
      grid-column: 2/3;
      place-self: center;
      @include size(auto, 45px);

      img {
        @include size(auto, 100%);
      }
    }
  }
  p {
    grid-column: 1/2;
    padding-top: 3.3rem;
    padding-bottom: 1.6rem;
  }
  a:nth-of-type(1) {
    font-size: $font-xl;
  }

  a {
    display: block;
  }
}

// desktop
.contact__shape {
  @include size(35%, auto);
  min-width: 550px;
  position: fixed;
  right: 0vh;
  bottom: -15vh;
  opacity: 1;
  text-shadow: 0px -2px 23px $lightbrown;
  @include for-tablet-HD-portrait-up {
    bottom: -10vh;
  }
  @include for-desktop-up {
    min-width: 650px;
    right: -5vh;
    bottom: -12vh;
  }
}

.contact {
  &__link {
    color: $lightbrown;
    align-self: center;
    img {
      @include size(20px, 20px);
    }
  }
  &__link--container {
    position: fixed;
    @include size(30%, 50px);
    min-width: fit-content;
    right: 1vh;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: max-content max-content max-content;
    a:nth-of-type(3) {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-column-gap: 15px;
      img {
        align-self: center;
      }
    }
    //tablet
    @include for-tablet-portrait-up {
      bottom: 2vh;
    }
    // desktop
    @include for-desktop-up {
      bottom: 5vh;
      right: -5vw;
    }
  }
}

.contact-page {
  &__container {
    // @include size(100%, 100%);
    @include for-tablet-portrait-up {
      grid-column-gap: 7%;
    }
  }
  &__form {
    @include size(100%, 50%);
    min-height: 300px;
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    grid-gap: 3.3rem;
    margin-bottom: 6.6rem;
    @include for-tablet-portrait-up {
      padding-top: 9.9rem; // same as h2
    }
    label {
      @include size(100%, 100%);
      color: $coral;
      font-size: 1.6rem;
      input {
        @include size(100%, 100%);
        background-color: $verylightbeige;
        border-radius: $round-corner;
        border: 2px solid $coral;
        box-shadow: none;
      }
    }
  }
}
