@import "variables";
@import "classes";

// mobile
.category-display {
  @include size(100vw, 5vh);
  text-align: center;
  background-color: $verylightbeige;
  position: fixed;
  @include box-shadow($ourshadow, $brown, 0.4);
  top: 0;
  h2 {
    padding: 0;
    color: $coral;
    font-size: 1.2rem;
    margin: auto;
  }
}

/* ============================================ */
/* =============== GALLERY ==================== */
/* ============================================ */

.gallery {
  //mobile
  @include size(100vw, auto);
  background-color: none;
  display: grid;
  padding: 5vh 0 7vh 0;
  // little hack margin bottom gallery
  &::after {
    content: " ";
    grid-column: 1/-1;
    height: 10vh;
  }
  // tablet
  @include for-tablet-portrait-up {
    grid-template-columns: 2% 1fr 2% 2%;
    grid-row-gap: 3%;
    grid-column-gap: 3%;
    margin: 10vh 0;
  }
  // desktop
  @include for-tablet-landscape-up {
    @include size(100vw, auto);
    margin: 20vh 0;
    grid-template-columns: 5% 1fr 5% 5%;
    grid-auto-rows: minmax(35vh, 1fr);
    grid-row-gap: 5%;
    grid-column-gap: 3%;
  }
  a {
    @include size(100%, 100%);
    grid-column: 1/-1;
    // desktop
    @include for-tablet-portrait-up {
      grid-column: 2/3;
    }
  }
  // SWITCHING IMG AND INFOS ON MOBILE
  a:nth-child(odd) {
    .gallery__item {
      &__img {
        grid-column: 2/3;
        grid-row: 1/-1;
      }
      &__infos {
        grid-column: 1/2;
        grid-row: 1/-1;
      }
      // tablet
      @include for-tablet-portrait-up {
        &__img {
          grid-column: 1/2;
          grid-row: 1/-1;
        }
        &__infos {
          grid-column: 2/3;
          grid-row: 1/-1;
        }
      }
    }
  }
  &__item {
    // mobile
    min-height: 170px;
    display: grid;
    grid-template-columns: 50% 50%;
    // desktop
    @include for-tablet-portrait-up {
      background-color: $verylightbeige;
      height: 100%;
      grid-template-columns: 33% 66%;
      @include box-shadow($ourshadow, $brown, 0.4);
      border-radius: 25px;
    }
    &__img {
      @include size(auto, 100%);
      background-size: cover;
      background-position: 80% 0%;
      background-repeat: no-repeat;
      // desktop
      @include for-tablet-portrait-up {
        border-radius: 25px;
      }
    }
    &__infos {
      // mobile
      @include size(100%, 100%);
      padding: 1.2rem;
      background-color: none;
      text-align: center;
      display: grid;
      grid-template-rows: 1fr 2fr 1.5fr;
      border-radius: 0 50px 50px 0;
      //tablet
      @include for-tablet-portrait-up {
        padding: 3.3rem 2.6rem 2.6rem;
        text-align: start;
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-columns: 2fr 1fr;
        grid-gap: 2.1rem;
        grid-column-gap: 3.3rem;
      }
      // desktop
      @include for-tablet-landscape-up {
        padding: 5.3rem 3.3rem 3.3rem;
        text-align: start;
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-columns: 2fr 1fr;
        grid-gap: 2.1rem;
        grid-column-gap: 3.3rem;
      }
      &--up {
        // mobile
        grid-row: 1/2;
        .price {
          float: left;
          font-size: 1.2rem;
        }
        .distance {
          float: right;
          font-size: 1.2rem;
        }
        // desktop
        @include for-tablet-portrait-up {
          grid-column: 2/-1;
          .price,
          .distance {
            font-size: 2.1rem;
          }
        }
      }
      &--text {
        grid-row: 2/3;
        place-self: center;
        @include for-tablet-portrait-up {
          grid-column: 1/2;
          grid-row: 1/-1;
          @include size(100%, 100%);
          justify-self: start;
        }
      }
      &--bottom {
        grid-row: 3/4;
        @include for-tablet-portrait-up {
          grid-column: 2/-1;
          grid-row: 3/4;
        }
      }
    }
  }
}

/* ============================================ */
/* =============== HOVER EFFECT================ */
/* ============================================ */

.gallery {
  &__item {
    transition: all 0.3s ease;
    transform: scale(1);
    opacity: 1;
    filter: grayscale(30%);
  }
  &__item:hover {
    transform: scale(1.01);
    opacity: 1;
    filter: grayscale(0%);
  }
}

.filter__modal--gallery {
  transition: all 0.3s ease;
  transform: scale(1);
  opacity: 1;
  filter: grayscale(30%);
  .filter__list {
    img {
      transition: all ease 0.6s;
      transform: scale(0.9);
      opacity: 1;
      filter: grayscale(30%);
    }
    img:hover {
      transform: scale(1);
      opacity: 1;
      filter: grayscale(0%);
    }
  }
}

.filter__modal--gallery:hover {
  transform: scale(1.05);
  opacity: 1;
  filter: grayscale(0%);
  cursor: pointer;
}

/* ============================================ */
/* =============== STYLE TEXT ================= */
/* ============================================ */

.gallery__item__infos--text {
  h3 {
    // phone
    @include for-phone-only {
      padding: 0;
      font-size: 1.6rem;
      line-height: inherit;
      color: $verylightbeige;
    }
  }
  h4 {
    // phone
    @include for-phone-only {
      padding: 0;
      font-size: 1.4rem;
      line-height: inherit;
      color: $verylightbeige;
    }
  }
  p {
    max-width: 450px;
    max-height: 100px;
    overflow-y: scroll;
    @include text($font-small, $line-small, $green);
    padding-bottom: 0;
    color: $coral;
  }
}

.gallery__item__infos--up {
  p {
    padding-bottom: 0;
    @include for-phone-only {
      color: $verylightbeige;
    }
  }
}

/* ============================================ */
/* ================ BADGES ==================== */
/* ============================================ */

.badge {
  &__container {
    @include size(100%, 100%);
    display: grid;
    grid-template-columns: repeat(auto-fill, 33%);
  }
  &__img {
    @include size(100%, 100%);
  }
}

/* ============================================ */
/* =============== BOTTOM MENU ================ */
/* ============================================ */

// -------------- containers ------------------ //

.menu-bottom__modal {
  // general
  position: fixed;
  bottom: 0;
  background-color: $verylightbeige;
  z-index: z(bottommenu);
  // mobile gallery
  @include size(100vw, 7vh);
  // desktop gallery
  @include for-tablet-portrait-up {
    @include size(0vh, 0vw);
  }
  // rate
  &--rate {
    // mobile
    @include size(100vw, 65vh);
    // desktop
    @include for-tablet-portrait-up {
      @include size(100%, 65%);
      position: absolute;
    }
  }
}

.map__container {
  position: absolute;
  top: 0;
  @include size(100%, 100%);
  z-index: z(sides);
  @include for-tablet-portrait-up {
    display: none;
  }
  @include centered(".map");
  .map {
    width: 100%;
    height: 85%;
  }
}

/* ============================================ */
/* ================ FILTER ==================== */
/* ============================================ */

.filter {
  //////// BUTTON /////////
  &__button {
    // general
    @include size(100px, 100px);
    border-radius: 50%;
    background-color: $verylightbeige;
    @include box-shadow($ourshadow-mobile, $brown, 0.3);
    position: absolute;
    display: grid;
    // mobile gallery & business
    top: -60px;
    right: calc(50vw - 50px);
    clip-path: polygon(-30px -30px, 160px -30px, 160px 61px, 0 61px);
    a {
      width: 100%;
      height: auto;
      place-self: center;
      text-align: center;
    }
    // filter icon
    img {
      width: 36px;
      height: auto;
      margin-bottom: calc(35% - 18px);
      // desktop
      @include for-tablet-portrait-up {
        margin-bottom: 0;
      }
    }
    &--filter {
      // for desktop
      @include for-tablet-portrait-up {
        top: 0vh;
        right: 0vw;
        box-shadow: none;
      }
    }
  }
  &__modal {
    // general
    position: absolute;
    top: 0vh;
    padding: 0.8rem 1.6rem 0;
    z-index: z(menu);
    background-color: $verylightbeige;
    @include box-shadow($ourshadow-mobile, $brown, 0.3); // ADD on JS
    h2 {
      color: $lightbrown;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
      transition: 0.3s opacity ease;
    }
    // gallery
    &--gallery {
      @include size(100vw, 0vh);
      // desktop gallery
      @include for-tablet-portrait-up {
        @include size(100px, 100px);
        border-radius: 50%;
        background-color: $verylightbeige;
        position: fixed;
        top: 60vh;
        right: 5vw;
      }
    }
    &--rate {
      @include size(100vw, 65vh);
      box-shadow: none;
      padding: 0;

      // desktop
      @include for-tablet-portrait-up {
        @include size(100%, 75%);
      }
      h2 {
        opacity: 1;
        display: block;
      }
      .filter__list {
        opacity: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 20px;
        white-space: initial;
        @include for-tablet-landscape-up {
          grid-gap: 20px;
        }
      }
    }
  }
  &__list {
    @include scroll-div(auto, hidden, auto, 60%);
    @include for-tablet-portrait-up {
      height: 100%;
    }
    background-color: none;
    div {
      place-self: center;
    }

    a {
      @include size(30%, auto);
      display: inline-block;
      max-width: 100px;

      img {
        @include size(100%, 100%);
      }
    }
  }
}

// ---------------- bottom ----------------- //

.menu-bottom {
  @include size(100%, 7%); // attention
  background-color: $verylightbeige;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed; // attention
  bottom: 0;
  padding: 0 3vw;
  z-index: z(bottommenu);
  @include box-shadow($ourshadow-mobile, $brown, 0.2);
  // desktop rate
  @include for-tablet-portrait-up {
    position: absolute; // for rating
    height: 7vh;
    padding: 0 3%;
  }
  &__link {
    @include size(100%, 100%);
    &--map {
      text-align: center;
    }
    &--burger {
      text-align: right;
      grid-column: 3/4;
    }
    &__img {
      @include size(25%, 100%);
      @include centered(img);
      img {
        @include size(100%, auto);
      }
    }
  }
}

/* ============================================ */
/* ============== BURGER MENU ================= */
/* ============================================ */

.burger-shadow {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: $blackcoral;
  opacity: 0.5;
}

.burger-menu {
  //display: none;
  @include size(0vw, 100vh);
  @include background-image("background-img/png-main-menu_shadows.png", $coral);
  background-blend-mode: multiply;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0vw;
  z-index: 50; // more than bottom

  &--link {
    color: $lightbeige;
    display: block;
    font-size: $font-small;
    padding-bottom: 1.6rem;
    opacity: 0;
    &__close {
      width: 100px;
      text-align: right;
      padding: 1.6rem;
      margin-left: calc(100% - 100px);
    }
    &__container {
      width: 100%;
      padding: 3.3rem;
      height: 60vh;
      margin-top: 25vh;
    }
  }
  .burger-menu--logo {
    position: absolute;
    margin: auto;
    opacity: 0;
    top: 10vh;
    bottom: 80vh;
    left: 0;
    right: 0;
    width: 80px;
    height: auto;
  }
}

.logo-loader {
  
}

// morphing animation modal filter desktop

.morphing {
  animation: morphing 1s 0s ease-in-out forwards;
  transition: 0.6s all ease;
}

.morphingClose {
  animation: morphingClose 1s 0s ease-in-out forwards;
  transition: 0.6s all ease;
}

@keyframes morphing {
  0% {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  70% {
    width: 500px;
    height: 200px;
    border-radius: 5px;
  }
  93% {
    width: 495px;
    height: 195px;
    border-radius: 5px;
  }
  100% {
    width: 500px;
    height: 200px;
    border-radius: 5px;
  }
}

@keyframes morphingClose {
  0% {
    width: 500px;
    height: 200px;
    border-radius: 5px;
  }

  100% {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
