@import "variables";

.logo-hor--rate {
  @include size(175px, auto);
  position: absolute;
  top: 3vh;
  left: calc(50vw - 75px);
  @include for-tablet-portrait-up {
    top: 5vh;
    @include size(190px, auto);
    left: calc(50vw - 100px);
  }
}

//////////////////////////
// RATE CONTENT - BODY  //

.rate__content {
  position: fixed;
  &__title {
    max-width: 400px;
    margin-top: 3.3rem;
  }
  &__illu {
    @include size(100%, auto);
    max-width: 600px;
    justify-self: center;
  }
}

// for desktop
@include for-tablet-portrait-up {
  .rate__content {
    @include size(100vw, 75vh);
    margin-top: 20vh;
    margin-bottom: 5vh;
    padding: $padding-body-desk;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh auto;
    grid-column-gap: 10%;
    grid-row-gap: 2.6rem;
    &__title {
      grid-column: 1/2;
      padding: 0;
      justify-self: center;
      align-self: end;
    }
    // rate__container
    &__rate-window {
      grid-column: 2/3;
      grid-row: 1/-1;
      justify-self: center;
      align-self: center;
    }
  }
}

/////////////////////////////////////
//    RATE CONTAINER / WINDOW      //

.rate__container {
  // mobile
  @include size(100vw, 100vh);

  //desktop
  @include for-tablet-portrait-up {
    @include size(100%, 570px);
    max-width: 500px;
    position: relative;

    overflow: hidden;
    @include box-shadow($ourshadow, $brown, 0.4);
    border-radius: $round-corner;
  }
}

/////////////////////////////////////
/////////    RANGE STYLE      //////

.rate__page {
  // general
  display: block;
  @include size(100%, 100%);
  position: absolute;
}

.range__thumb__container {
  @include size(100vw, 70vh);
  margin: 15vh 0;
  touch-action: none;
  //position: relative; // for the scale
  @include for-tablet-portrait-up {
    width: 100%;
    height: 399px;
    margin: 85.5px 0;
  }
}

.range__fill {
  // general
  width: 100vw;
  height: 50vh;
  position: fixed;
  bottom: 0vh;
  transition: none;
  // border top
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    right: 0;
    border-top: dashed 5px white;
  }
  svg {
    width: 200%;
    height: auto;
    transform: translateX(-30%);
  }
  // desktop
  @include for-tablet-portrait-up {
    position: absolute;
    @include size(100%, 285px);
  }
}

.range__thumb {
  @include size(100px, 100px);
  position: absolute;
  right: 3vw;
  top: calc(50% - 50px);
  background-image: url("background-img/vegan.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 10px solid rgba($lightgreen, 0.7);
  transition: none;
  touch-action: none;
  user-select: none;
  z-index: 5;
}

// .range__thumb:active {
//   background-color: rgba(168, 218, 220, 1);
// }

.range__thumb:hover {
  cursor: pointer;
  border-width: 20px;
}

.range__scale {
  @include size(30px, 100%);
  width: 30px;
  height: 70vh;
  //position: fixed;
  // top: 0;
  // left: 3vw;
  margin: 15vh 0 15vh 3vw;
  border-left: 5px solid white;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  &--level {
    @include size(25px, 5px);
    background-color: white;
  }
  @include for-tablet-portrait-up {
    left: 3%;
    height: calc(570px - (85.5px * 2));
    margin: 85.5px 0 85.5px 3%;
  }
}

.range__keyword {
  @include size(fit-content, fit-content);
  position: absolute;
  top: -2vh;
  left: 35px;
  padding: 0px 1.6rem;
  font-size: 1.8rem;
  color: $green;
  background-color: $verylightbeige;
  @include for-tablet-portrait-up {
    left: 55px;
    font-size: 2.1rem;
  }
}

///////// RATE STEPS STYLE //////////
//////// INTRO AND CONCLUSION ///////

.rate__intro {
  display: block;
  &--title {
    @include for-tablet-portrait-up {
      display: none;
    }
  }
}
.rate__again,
.rate__conclusion {
  display: none;

  &--explanation {
    padding: 0;
  }
  h2 {
    color: $brown;
    padding: 0 0 1.6rem 0;
  }
}

.rate__intro,
.rate__again,
.rate__conclusion {
  @include size(100%, 100%);
  padding: 6.6rem 1.6rem 1.6rem 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $verylightbeige;
  z-index: 10;
  &--title {
    font-size: $font-large;
    line-height: $line-large;
    padding: 0 0 1.6rem 0;
  }
  &--business {
    padding: 0;
    @include for-tablet-portrait-up {
      display: none;
    }
  }
  li {
    @include text(2.1rem, 2.1rem, $coral);
    list-style-type: none;
    // padding-bottom: 0;
  }
}

//////// BUTTONS ///////////

.button__submit,
.button__submit--rating {
  // display: none;
  grid-column: 3/4;
  width: 100%;
  height: fit-content;
  align-self: center;
  h3 {
    text-align: center;
    color: $lightbrown;
    padding: 0;
    margin: auto;
  }
}

.button__submit--rating {
  display: none;
}

.rate-link--next {
  display: none;
}
.rate-again-link--next {
  display: none;
}

.rate-link {
  display: inline;
  place-self: center;
  @include vertical-align(h3);
  width: fit-content;
  h3 {
    width: fit-content;
    float: left;
    font-size: 2.1rem;
    font-weight: 400;
    color: $coral;
  }
  img {
    float: right;
  }
}

.rate-again--conclusion {
  width: 120px;
  height: 50px;
  @include vertical-align(p);
  @include for-tablet-portrait-up {
    width: 220px;
  }
  img {
    transform: scale(-1);
    // float: left;
    width: 25px;
  }
  p {
    // float: right;
    padding: 0;
    margin-left: 35px;
  }
}

.no-msg {
  // display: block;
  grid-column: 1/3;
  grid-row: 1/2;
  p {
    padding: 0;
    font-size: 1.2rem;
    border-bottom: 1px solid $coral;
    @include for-tablet-portrait-up {
      font-size: 1.6rem;
    }
  }
}

// BADGES

.rate__badge--link {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  display: inline-block;
  img {
    @include size(100%, auto);
  }
  @include for-tablet-portrait-up {
    width: 100px;
    height: 100px;
  }
}

.badge--selected {
  background-color: $brown;
  border: solid 3px $brown;
}
.badge--voted {
  opacity: 0.4;
}

.menu-bottom__link--rate {
  display: none;
}

.back-to-business__link {
  width: fit-content;
  height: fit-content;
  position: absolute;

  top: 3vw;
  left: 3vw;
  z-index: 45;
  h2 {
    padding: 0;
    color: $brown;
  }
}

input {
  @include size(100%, 159px);
  background-color: $verylightbeige;
  border-radius: $round-corner;
  border: 2px solid $coral;
  box-shadow: none;
}
