@import "variables";

.logo-hor--rate {
  @include size(175px, auto);
  position: absolute;
  top: 3vh;
  left: calc(50vw - 75px);
  @include for-tablet-portrait-up {
    top: 5vh;
    @include size(190px, auto);
    left: calc(50vw - 100px);
  }
}

//////////////////////////
// RATE CONTENT - BODY  //
//////////////////////////

.rate__content {
  position: fixed;
  &__title {
    max-width: 400px;
    margin-top: 3.3rem;
  }
  &__illu {
    @include size(100%, auto);
    max-width: 600px;
    justify-self: center;
  }
}

// for desktop
@include for-tablet-portrait-up {
  .rate__content {
    @include size(100vw, 75vh);
    margin-top: 20vh;
    margin-bottom: 5vh;
    padding: $padding-body-desk;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh auto;
    grid-column-gap: 10%;
    grid-row-gap: 2.6rem;
    &__title {
      grid-column: 1/2;
      padding: 0;
      justify-self: center;
      align-self: end;
    }
    // rate__container
    &__rate-window {
      grid-column: 2/3;
      grid-row: 1/-1;
      justify-self: center;
      align-self: center;
    }
  }
}

/////////////////////////////////////
//    RATE CONTAINER / WINDOW      //

.rate__container {
  // mobile
  @include size(100vw, 100vh);

  //desktop
  @include for-tablet-portrait-up {
    @include size(100%, 570px);
    max-width: 500px;
    position: relative;

    overflow: hidden;
    @include box-shadow($ourshadow, $brown, 0.4);
    border-radius: $round-corner;
  }
}

/////////////////////////////////////
/////////    RANGE STYLE      //////

.rate__page {
  // general
  display: block;
  @include size(100%, 100%);
  position: absolute;
}

.range__thumb__container {
  @include size(100vw, 70vh);
  margin: 15vh 0;
  touch-action: none;
  //position: relative; // for the scale
  @include for-tablet-portrait-up {
    width: 100%;
    height: 399px;
    margin: 85.5px 0;
  }
}

.range__fill {
  // general
  width: 100vw;
  height: 50vh;
  position: fixed;
  bottom: 0vh;
  transition: none;
  // border top
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    right: 0;
    border-top: dashed 5px $darkbrown;
  }
  svg {
    width: 200%;
    height: auto;
    transform: translateX(-30%);
  }
  // desktop
  @include for-tablet-portrait-up {
    position: absolute;
    @include size(100%, 285px);
  }
}

.range__thumb {
  @include size(100px, 100px);
  position: absolute;
  right: 3vw;
  top: calc(50% - 50px);
  background-image: url("background-img/vegan.svg");
  background-color: $verylightbeige;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 10px solid rgba($lightgreen, 0.9);
  transition: none;
  touch-action: none;
  user-select: none;
  z-index: 5;
}

.range__thumb:hover {
  cursor: pointer;
  border-width: 20px;
}

.range__scale {
  @include size(30px, 100%);
  width: 30px;
  height: 70vh;
  margin: 15vh 0 15vh 80vw;
  border-left: 5px solid $darkbrown;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  transform: scale(-1);
  &--level {
    @include size(25px, 5px);
    background-color: $darkbrown;
  }
  @include for-tablet-portrait-up {
    left: 3%;
    height: calc(570px - (85.5px * 2));
    margin: 85.5px 0 85.5px 3%;
  }
}

.range__keyword {
  @include size(fit-content, fit-content);
  position: absolute;
  top: -2vh;
  left: 3vw;
  padding: 0px 1.6rem;
  font-size: 1.8rem;
  color: $green;
  background-color: $verylightbeige;
  @include for-tablet-portrait-up {
    left: 55px;
    font-size: 2.1rem;
  }
}

/////////////////////////////////////
///////// RATE STEPS STYLE //////////
//////// INTRO AND CONCLUSION ///////
/////////////////////////////////////

.rate__intro {
  display: block;
  &--title {
    @include for-tablet-portrait-up {
      display: none;
    }
  }
}
.rate__again,
.rate__conclusion {
  display: none;

  h2 {
    color: $brown;
    padding: 0 0 1.6rem 0;
  }
}

.rate__intro,
.rate__again,
.rate__conclusion {
  @include size(100%, 100%);
  padding: 6.6rem 1.6rem 1.6rem 1.6rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $verylightbeige;
  z-index: 10;
  &--title {
    font-size: $font-large;
    line-height: $line-large;
    padding: 0 0 1.6rem 0;
  }
  &--business {
    padding: 0;
    @include for-tablet-portrait-up {
      display: none;
    }
  }
  li {
    @include text(2.1rem, 2.1rem, $coral);
    list-style-type: none;
  }
}

.rate__again {
  // display: grid;
  grid-template-rows: 0.5fr max-content 0.5fr 0.5fr;
  padding-bottom: 6.6rem;
  h2:nth-of-type(2) {
    grid-row: 4/5;
    align-self: end;
  }
}

.rate__conclusion {
  // display: grid;
  h2 {
    align-self: end;
    color: $coral;
    font-size: 1.6rem;
  }
}

/////////////////////////////////////
/////////////// BADGES //////////////
/////////////////////////////////////
/////////////////////////////////////

.current-badge__rate {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px;
  img {
    max-width: 100px;
    background-color: $verylightbeige;
  }
  div {
    align-self: center;
    h2 {
      padding: 0;
    }
  }
}

.rate__badge--link {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  display: inline-block;
  background-color: $verylightbeige;
  box-shadow: 0 0 20px 1px rgba($brown, 0.4);
  img {
    @include size(100%, auto);
  }
  @include for-tablet-portrait-up {
    width: 100px;
    height: 100px;
  }
}

.badge--selected {
  background-color: $brown;
  border: solid 3px $brown;
}
.badge--voted {
  opacity: 0.4;
}

/////////////////////////////////////
/////////////// BUTTONS //////////////
/////////////////////////////////////
/////////////////////////////////////

.button__submit--rating {
  display: none;
}

.button-rate {
  &--again,
  &--next,
  &--next__2 {
    display: none;
  }

  &--rate {
    display: grid;
  }

  &__container {
    width: fit-content;
    height: fit-content;
    grid-template-columns: max-content max-content;
    grid-gap: 15px;
    align-self: center;

    img {
      width: 20px;
    }
    p {
      padding: 0;
      padding: 1px;
      border-bottom: 2px solid $coral;
    }
  }
  &--right {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
    padding-right: 3vw;
    p {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    img {
      grid-column: 2/3;
    }
  }
  &--left {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    padding-left: 3vw;
    p {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    img {
      grid-column: 1/2;
      transform: scale(-1);
    }
  }
}

// SUBMIT RATING

.no-msg {
  grid-column: 1/3;
  grid-row: 1/2;

  p {
    padding: 0;
    font-size: 1.2rem;
    border-bottom: 1px solid $coral;
    @include for-tablet-portrait-up {
      font-size: 1.6rem;
    }
  }
}

.button__submit--rating {
  height: fit-content;
  align-self: center;
  h3 {
    padding: 0 3vw 0 0;
    float: right;
  }
}

// CROSS //
.back-to-business__link {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 3vw;
  left: 3vw;
  z-index: 45;
  h2 {
    padding: 0;
    color: $brown;
  }
}

// MSG //
input {
  @include size(100%, 159px);
  background-color: $verylightbeige;
  border-radius: $round-corner;
  border: 2px solid $coral;
  box-shadow: none;
}
